<% cp = @report.current_end.strftime("%B %Y") %>
<% pp = @report.comparative_end.strftime("%B %Y") %>

<!-- CALC PLACEHOLDERS -->
<% nca_amounts = { cy: [0], py: [0] } %>
<% ca_amounts = { cy: [0], py: [0] } %>


<!-- ASSETS GRAPHS AND STATS -->
<section class="layout-container">
  <article class="type-system-slab">
    <h2 style="color:#FB7D98;">Balance Sheet</h2> 
    <div id="assets-graph">
    </div>
  </article>
</section>

<section class="layout-container">
  <article class="type-system-slab">
        <ul class="accordion">
          <li>
            <a href="javascript:void(0)" class="js-accordion-trigger">Collaboration and Control</a>
            <ul class="submenu">
              <li>
                <a href="javascript:void(0)">Feed</a>
                
                <div class="scroll-on-page">
                    <aside id="scroll-on-page-top">
                      <a class="scroll-on-page-link" href="#insights">Insights</a>
                      <a class="scroll-on-page-link" href="#notes">Notes</a>
                      <a class="scroll-on-page-link" href="#comments">Comments</a>
                    </aside>
                    <article>
                        <section>
                          <h4 id="insights">Insights</h4>
                          <br>
                        </section>
                        <section>
                          <h4 id="notes">Notes</h4>
                          <br>
                           <!-- ONLY ONE SHOWING... ONLY CLICK INTO MODAL -->
                                <div class="comment">
                                      <div class="comment-image">
                                        <img src="<%= asset_path('pb-logo.png') %>">
                                      </div>
                                      <div class="comment-content">
                                        <h1>First Comment Title or Author</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
                                        <p class="comment-detail">Date or details about this post</p>
                                      </div>
                                </div>

                        </section>
                        <section>
                                <!-- ONLY ONE SHOWING... ONLY CLICK INTO MODAL -->
                                <h4 id="comments">Comments</h4>
                                <br>
                                <div class="comment">
                                      <div class="comment-image">
                                        <img src="<%= asset_path('pb-logo.png') %>">
                                      </div>
                                      <div class="comment-content">
                                        <h1>First Comment Title or Author</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
                                        <p class="comment-detail">Date or details about this post</p>
                                      </div>
                                </div>
                          </section>
                      </article>
                      <!-- WRAPPER ARTICLE -->
                </div>
                <!-- END OF SCROLLONPAGE -->
              </li>
              <!-- END OF SUBMENU -->
            </ul>
          </li>
        </ul>
        <!-- END OF ACCORDIAN CONTAINER -->
    </article>
</section>


<div class="scroll-on-page" style="width:100%;">
    <aside id="scroll-on-page-top">
      <a class="scroll-on-page-link" href="#non-current-assets">Non-current assets</a>
      <a class="scroll-on-page-link" href="#current-assets">Current assets</a>
      <br>
      <div class="dropdown">
          <div class="dropdown-container">
            <p class="dropdown-description">New</p>
            <p class="dropdown-button">Balance Sheet</p>
            <ul class="dropdown-menu dropdown-select">
              <li>Balance Sheet</li>
              <li onclick='showDashNotes("ProfitLoss")'><%= link_to 'Notes', new_report_note_path(@report, subject: 'BalanceSheet'), remote: true, class: 'button', onclick: '' %></li>
              <li onclick='showDashComments("ProfitLoss")'><%= link_to 'Comments', new_report_comment_path(@report, subject: 'BalanceSheet'), remote: true, class: 'button'%></li>
               <li><%= link_to 'Reconciliations', "", remote: true, class: 'button'%></li>
            </ul>
          </div>
      </div>
    </aside>
    <article>
        <section>
            <h4 id="insights">Statement of Financial Position</h4>
            <br>
            <table id="" class="table-minimal">
                    
                  <tbody>
                          <tr>
                              <td></td>
                              <td><%= cp %></td>
                              <td><%= pp %></td>
                              <td></td>
                          </tr>
                          <tr>
                              <td>Assets</td>
                              <td style="color:#f3655e;">£</td>
                              <td style="color:#f3655e;">£</td>
                              <td style="color:#f3655e;"> &#916 mvmt </td>
                          </tr>
                          <!-- NON CURRENT ASSET TAGS -->
                          <% @tags[:nca].each do | master_tag | %>
                              <% cy = find_data(master_tag, :cy)  %>
                              <% py = find_data(master_tag, :py)  %>
                              <% cy_amt = yield_amount { cy }.to_i %>
                              <% py_amt = yield_amount { py }.to_i %>
                              <% unless (cy_amt + py_amt == 0.00) %>
                                  <tr>
                                    <td style="color:#f3655e;"><%= master_tag %></td>
                                    <% nca_amounts[:cy] << cy_amt %>
                                    <% nca_amounts[:py] << py_amt %>
                                    <% mvmt = cy_amt - py_amt %>
                                    <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="current"><%= number_with_delimiter(cy_amt) %></td>
                                    <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="comparative"><%= number_with_delimiter(py_amt) %></td>
                                    <td><%= display_ifrs(mvmt) %></td>
                                  </tr>
                                  <!-- HIDDEN JS LINE ASSETS -->
                                  <span class="js-fs-line" data-tag="nca" data-reporting-line="<%= master_tag %>" data-cy="<%= cy_amt %>" data-py="<%= py_amt %>"></span>
                              <% end %>
                          <% end %>

                          <% cy_nca = nca_amounts[:cy].inject(:+) %>
                          <% py_nca = nca_amounts[:py].inject(:+) %>
                          <% mvmt = cy_nca - py_nca %>
                          <tr>
                            <td> Total non-current assets</td>
                            <td style="color:#f3655e;"><%= number_with_delimiter(cy_nca) %></td>
                            <td style="color:#f3655e;"><%= number_with_delimiter(py_nca) %></td>
                            <td><%= display_ifrs(mvmt) %></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Current assets</td>
                            <td>£</td>
                            <td>£</td>
                            <td><%= mvmt %></td>
                          </tr>
                          <!-- CURRENT ASSET TAGS -->
                          <% @tags[:ca].each do | master_tag | %>
                              <% cy = find_data(master_tag, :cy)  %>
                              <% py = find_data(master_tag, :py)  %>
                              <% cy_amt = yield_amount { cy }.to_i %>
                              <% py_amt = yield_amount { py }.to_i %>
                              <% unless (cy_amt + py_amt == 0.00) %>
                                <tr>
                                  <td style="color:#f3655e;"><%= master_tag %></td>
                                  <% ca_amounts[:cy] << cy_amt %>
                                  <% ca_amounts[:py] << py_amt %>
                                  <% mvmt = cy_amt - py_amt %>
                                  <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="current"><%= number_with_delimiter(cy_amt) %></td>
                                  <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="comparative"><%= number_with_delimiter(py_amt) %></td>
                                  <td><%= display_ifrs(mvmt) %></td>
                                </tr>
                                <!-- HIDDEN JS LINE ASSETS -->
                                <span class="js-fs-line" data-tag="ca" data-reporting-line="<%= master_tag %>" data-cy="<%= cy_amt %>" data-py="<%= py_amt %>"></span>
                              <% end %>
                          <% end %>

                          <% cy_ca = ca_amounts[:cy].inject(:+) %>
                          <% py_ca = ca_amounts[:py].inject(:+) %>
                          <!-- FOR FINANCIAL CONTROL TOTS CHECK -->
                          <% $cy_tot_a = cy_ca %>
                          <% $py_tot_a = py_ca %>

                          <% mvmt = cy_ca - py_ca %>
                          <tr>
                            <td> Total current assets</td>
                            <td style="color:#f3655e;"><%= number_with_delimiter(cy_ca) %></td>
                            <td style="color:#f3655e;"><%= number_with_delimiter(py_nca) %></td>
                            <td><%= display_ifrs(mvmt) %></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Total assets</td>
                            <td style="color:#f3655e;"><%= number_with_delimiter(cy_nca + cy_ca) %></td>
                            <td style="color:#f3655e;"><%= number_with_delimiter(py_nca + py_ca) %></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                      </tbody>
                </table>
            <!-- END OF BS TABLE -->
         </section>
      </article>
      <!-- WRAPPER ARTICLE -->
</div>
<!-- END OF SCROLLONPAGE -->



