<article class="type-system-rounded">

	<h1 class="lovely-pink"> New Disclosure </h1>
	<br>
	<%= form_for([@report, @disclosure], url: { controller: 'disclosures', action: 'create' }, remote: true) do |f| %>
		  <table class="table-minimal">
		      <tbody>
		          <tr>
		            <td class="lovely-pink"><%= f.label :title %></td>
		            <td> <%= f.text_field :title, placeholder: "Enter title" %></td>
		          </tr>
		          <tr>
		            <td class="lovely-pink"><%= f.label :body %></td>
		            <td><%= f.text_area :body, {:placeholder => "Add disclosure body"} %></td>
		          </tr>
		          <tr>
		          	 <td class="lovely-pink"><%= f.label :type %></td>
			         <td><%= f.select :type, options_for_select( Disclosure.global_type_options ) %>
			         </td>
		      	  </tr>
		      	  <%= f.hidden_field(:added_by, :value => "#{current_user.email}") %>
		          <tr>
		            <td class="button-style"><%= f.submit %></td>
		            <td></td>
		          </tr>
		      </tbody>
		  </table>
	<% end %>
	
</article>


