<table id="payments-table" class="table-minimal">
	<thead>
	  <tr>
	    <th>miTag</th>
	    <th>Total</th>
	    <th>--</th>
	  </tr>
	</thead>
	<tbody>
	  <% @data[:payments].each_pair do |tag, total| %>
	  <% tot = total.to_i %>
		  <tr class="payment_line" data-tag="<%= tag %>" data-total="<%= tot %>">
		    <td><%= tag %></td>
		    <td><%= number_with_delimiter(tot) %></td>
		    <td><button data-tag="<%= tag %>" class="payments-summary-display">View</button></td>
		  </tr>
	  <% end %>
	</tbody>
</table>