<%= javascript_include_tag 'ledgers', 'ledgerShow', 'ledgerManager' %>

<%= render partial: 'button_board', locals: {ledger_type: @ledger.type.try(:underscore)} %>

<div class="hero gradient">
  <div class="hero-inner">
    <a href="/" class="hero-logo"><img src="<%= asset_path('ico3hover.png') %>
" alt="Logo Image"></a>
    <div class="hero-copy">
      <article class="type-system-rounded">
        <h1> Ledger Transaction Manager </h1>
        <p style="color:white;">{ <%= @ledger.user_tag %> }</p>
      </article>
    </div>
  </div>
</div>

<% unless @transactions.count == 0 %>
  <% first_date = @transactions.first.acc_date %>
  <% last_date = @transactions.last.acc_date %>
<% end %>

<%= form_tag "", :method => 'get', remote: true do %>

    <%= hidden_field_tag :period , "manual" %>
    <article class="type-system-rounded" style="padding:3em;">
        <h1 style="color:#f3655e;">Order By</h1>
        <div class="search-tools" style="width:80%; margin: auto;">
          <div class="filter">
            <label>OrderBy</label>
            <div>
              <ol>
                <li>
                  <%= label_tag :type %>
                  <%= check_box_tag(:type) %>
                </li>
                <li>
                  <%= label_tag :amount %>
                  <%= check_box_tag(:amount) %>
                </li>
                <li>
                  <%= label_tag 'your_tag' %>
                  <%= check_box_tag('your_tag') %>
                </li>

                <li>
                  <%= label_tag 'monea_tag' %>
                  <%= check_box_tag('monea_tag') %>
                </li>
              </ol>
            </div>
          </div>
          <div class="filter">
            <label>Asc or Desc</label>
            <div>
              <ol>
                <li>
                  <%= label_tag :asc %>
                  <%= check_box_tag(:asc) %>
                </li>
                <li>
                  <%= label_tag :desc %>
                  <%= check_box_tag(:desc) %>
                </li>
              </ol>
            </div>
          </div>
          <div class="trigger">
             <%= button_tag "Filter", id: 'transactions-filter' %>
          </div>
        </div>
    </article>
<% end %>

<article class="type-system-rounded" style="padding:3em;">
        <h1 style="color:#f3655e;">Filter By</h1>
        <div class="search-tools" style="width:70%; margin: auto;">
          <div class="filter">
            <label>From</label>
              <%= date_select("from", "date", {default: first_date}, { :onchange => 'cashLedgerMgr.filterByDate()' }) %>
          </div>
          <div class="filter">
            <label>To</label>
               <%= date_select("to", "date", {default: last_date}, { :onchange => 'cashLedgerMgr.filterByDate()' } ) %>
          </div>
          <div class="filter">
            <label>moneaTag</label>
               <%= select_tag :monea_tag, options_for_select( $form_select_tags, {selected: "No-Mapping"}), {:onchange => 'cashLedgerMgr.filterByMoneaTag(this)' } %>
          </div>
        </div>
    </article>

<article class="type-system-rounded">
         <!-- FOR PADDING -->
        <div class="pie-charts-cash-show">
          <h1 style="color:#f3655e;">All Ledger Transactions</h1>
          <table id="ledger-manager-table" class="table-minimal" style="font-size:80%;">
          <!-- change to mitag map as monea used in tb? -->
                <thead>
                  <tr style="color:#f3655e;">
                    <th>Book Date:  </th>
                    <th>Type</th>
                    <th>£</th>
                    <th>VAT</th>
                    <th>yourTag</th>
                    <th>description</th>
                    <th>moneaTag</th>
                    <th>Update</th>
                  </tr>
                </thead>
                <tbody id="ledger-manager-table-body">
                  <% @transactions.each do |transaction| %>
                        <% id = transaction.id %>
                        <tr id="<%= id %>">
                                <!-- FOR LEDGER FILTER FILTER -->
                                <span class="trn-monea-tag" data-trn-id="<%= id %>" data-monea-tag="<%= transaction.monea_tag %>" style="display:none;"></span>
                                <%= form_for(transaction, :url => {:controller => 'transactions', :action => 'update_transaction_controlled'}, remote: true, method: 'put') do |f| %>
                                   <%= f.hidden_field(:transaction_id, :value => id, name: 'transaction[transaction_id]') %>
                                   <td class="trn-acc-date"><%= transaction.acc_date.strftime("%d/%m/%Y") unless transaction.acc_date == nil %></td>
                                   <td><%= transaction.type %></td>
                                   <td class="show-trn" onclick="cashLedgerMgr.displayTransaction($(this).parent().attr('id'));"><%= transaction.amount.to_f.round(2) %></td>
                                   <td>
                                      <input placeholder="<%= transaction.vat.to_f.round(2) %>", name="transaction[vat]">
                                   </td>
                                   <td>
                                      <input placeholder="<%= transaction.mi_tag %>", name="transaction[mi_tag]">
                                   </td>
                                   <td>
                                      <input placeholder="<%= transaction.description %>", name="transaction[description]">
                                   </td>
                                   <td><%= f.select :monea_tag, options_for_select( $form_select_tags, {:selected => transaction.monea_tag} ), name: 'transaction[monea_tag]' %></td>
                                   <td class="button-style"><%= f.submit %></td>

                                <% end %>
                          </tr>
                  <% end %>
                </tbody>
           </table>
        </div>  <!-- END OF PADDING DIV -->
</article>

<span id="ledger-id" style="display:none" data-id="<%= @ledger.id %>"></span>


<!-- LOADING MODAL FOR FILTER -->
<div class="modal">
    <input class="modal-state" id="modal-loading-manager" type="checkbox" />
    <div class="modal-fade-screen">
      <div class="modal-inner">
        <div class="modal-close" for="modal-ledger-manager"></div>
        <div id="loading-landing-modal-body">
          
          <article class="type-system-rounded">
              <h3>Monea.finance</h3>
              <p style="color:#f3655e;" > Loading Filter Please Wait </p>
          </article>

          <p></p>
            <div class="sk-cube-grid">
              <div class="sk-cube sk-cube1"></div>
              <div class="sk-cube sk-cube2"></div>
              <div class="sk-cube sk-cube3"></div>
              <div class="sk-cube sk-cube4"></div>
              <div class="sk-cube sk-cube5"></div>
              <div class="sk-cube sk-cube6"></div>
              <div class="sk-cube sk-cube7"></div>
              <div class="sk-cube sk-cube8"></div>
              <div class="sk-cube sk-cube9"></div>
            </div>
            <article class="type-system-rounded">
              <p>Depending on the amount of transactions in your database, and in range, drives processing time.</p>
            </article>
        </div>  
      </div>
    </div>
</div>

<!-- EMPTY MODAL FOR FILTER -->
<div class="modal">
      <input class="modal-state" id="modal-manager-empty" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-manager-empty"></div>
          <div id="empty-manager-modal-body">
          </div>
        </div>
      </div>
</div>
<!-- EMPTY MODAL FOR EXPORT TO GOOGLE -->
<div class="modal">
      <input class="modal-state" id="modal-empty" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-manager-empty"></div>
          <div id="empty-modal-body-append">
          </div>
        </div>
      </div>
</div>

