<article class="type-system-rounded">
	<h1>
		<% if @comment.new_record? %>
			Report.comment.new
		<% else %>
			Report.comment.edit
		<% end %>
	</h1>
	<p style="color:#f3655e;"><a href="javascript:void(0)">enter comment text below</a></p>
	<%= form_for([@report, @comment], remote: true) do |f| %>
      <table class="table-minimal">
			<tbody>
		          <tr>
		            <td></td>
		            <td><%= f.text_area :body, placeholder: "Enter your text..." %></td>
		          </tr>
		          <%= f.hidden_field :commenter, value: current_user.email %>
		          <%= f.hidden_field :subject %>
		          <tr >
		            <td class="button-style"><%= submit_tag 'Save Comment' %></td>
		            <td></td>
		          </tr>
        	</tbody>
	  </table>
	<% end %>
</article>


