<!-- COMMON JS FILE FOR common SHOW AND DASH -->
<%= javascript_include_tag 'boardPacks' %>
<!-- SHOW PAGE ONLY JS -->
<article class="type-system-slab">
    <header class="show-nav" role="banner">
       <div>  
          <p><%= link_to 'Back', url_for(:back) %></p>
       </div> 
       <div>  
          <a href="/welcome/auth_landing"><img id="user-to-auth-landing" src="<%= asset_path('pb-logo.png') %>"></a>
       </div>  
       <div>  
          <p><%= link_to 'ShowPage', report_path(@report) %></p>
       </div> 
    </header>
</article>

<section class="layout-container">
  <article class="type-system-slab">
        <div class="grid-items">
          <a href="<%= new_report_note_path(@report, subject: 'General') %>" href="javascript:void(0)" class="grid-item" data-remote="true">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
            <h1>New Comment</h1>
            <p style="color:#94CFD5;">Add</p>
          </a>
          <%= link_to export_current_report_comments_path(@report),:remote=> true,:class=>"grid-item" do%>
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Export current</h1>
            <p style="color:#94CFD5;">to spreadsheet or csv</p>
          <%end%>
          <%= link_to export_all_report_comments_path(@report),:remote=> true,:class=>"grid-item" do%> 
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Export all</h1>
            <p style="color:#94CFD5;">to spreadsheet or csv</p>
          <%end%>
        </div>
    </article>
</section>

<section class="layout-container">
  <article class="type-system-slab">
        <div class="scroll-on-page">
              <aside id="scroll-on-page-top">
                <a class="scroll-on-page-link" href="#general">General</a>
                <a class="scroll-on-page-link" href="#PnL">Profit and Loss</a>
                <a class="scroll-on-page-link" href="#BS">Balance Sheet</a>
              </aside>
              <article>
                  <section>
                        <h4 id="general">General</h4>
                        <br>
                        <% @comments.select { |n| n.subject == 'General' }.each do |comment| %>
                              <div id="comment_<%= comment.id %>" class="comment">
                                    <div class="comment-image">
                                      <img src="<%= asset_path('pb-logo.png') %>">
                                    </div>
                                    <div class="comment-content">
                                      <h1><%= comment.subject %>   <span style="font-size:70%; color:#94CFD5;"> { <%= comment.repdate.strftime("%B %Y") %> } </span></h1>
                                      <p><%= comment.body %></p>
                                      <p class="comment-detail"><%= comment.commenter %></p>
                                      <p> 
                                        <%= link_to image_tag("edit-icon.png", width: 25), edit_report_comment_path(@report, comment), remote: true %>
                                        <%= link_to image_tag("trash.png", width: 25), report_comment_path(@report, comment), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>  
                                      </p>
                                    </div>
                              </div>
                        <% end %>
                  </section>
                  <section>
                    <h4 id="PnL">Profit and Loss</h4>
                    <br>
                     <% @comments.select { |n| n.subject == 'ProfitLoss' }.each do |comment| %>
                              <div id="comment_<%= comment.id %>" class="comment">
                                    <div class="comment-image">
                                      <img src="<%= asset_path('pb-logo.png') %>">
                                    </div>
                                    <div class="comment-content">
                                      <h1><%= comment.subject %>   <span style="font-size:70%; color:#94CFD5;"> { <%= comment.repdate.strftime("%B %Y") %> } </span></h1>
                                      <p><%= comment.body %></p>
                                      <p class="comment-detail"><%= comment.commenter %></p>
                                      <p> 
                                        <%= link_to image_tag("edit-icon.png", width: 25), edit_report_comment_path(@report, comment), remote: true %>
                                        <%= link_to image_tag("trash.png", width: 25), report_comment_path(@report, comment), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %> 
                                      </p>
                                    </div>
                              </div>
                        <% end %>
                  </section>
                  <section>
                          <!-- ONLY ONE SHOWING... ONLY CLICK INTO MODAL -->
                          <h4 id="BS">Balance Sheet</h4>
                          <br>
                          <% @comments.select { |n| n.subject == 'BalanceSheet' }.each do |comment| %>
                              <div id="comment_<%= comment.id %>" class="comment">
                                    <div class="comment-image">
                                      <img src="<%= asset_path('pb-logo.png') %>">
                                    </div>
                                    <div class="comment-content">
                                      <h1><%= comment.subject %>   <span style="font-size:70%; color:#94CFD5;"> { <%= comment.repdate.strftime("%B %Y") %> } </span></h1>
                                      <p><%= comment.body %></p>
                                      <p class="comment-detail"><%= comment.commenter %></p>
                                      <p> 
                                        <%= link_to image_tag("edit-icon.png", width: 25), edit_report_comment_path(@report, comment), remote: true %>
                                        <%= link_to image_tag("trash.png", width: 25), report_comment_path(@report, comment), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %> 
                                      </p>
                                    </div>
                              </div>
                        <% end %>
                    </section>
                </article>
                <!-- WRAPPER ARTICLE -->
          </div>
          <!-- END OF SCROLL -->
    </article>
</section>

<script>
  jQuery(function(){  
    jQuery.mark.jump();
  });
</script>

<style type="text/css">
   #bg-screen-for-modal{
     top: -1px !important;
    }  
</style>




















