<% cp = $cp %>
<% pp = $pp %>

<!-- CALC PLACEHOLDERS -->
<% nca_amounts = { cy: [0], py: [0] } %>
<% ca_amounts = { cy: [0], py: [0] } %>

<!-- ASSETS GRAPHS AND STATS -->
<section class="layout-container">
  <article class="type-system-slab">
    <h2 style="color:#FB7D98;">Balance Sheet</h2> 
    <div id="assets-graph">
    </div>
  </article>
</section>

<section class="layout-container">
  <article class="type-system-slab">
        <ul class="accordion">
          <li>
            <a href="javascript:void(0)" class="js-accordion-trigger">Collaboration and Control</a>
            <ul class="submenu">
              <li>
                <a href="javascript:void(0)">Feed</a>
                
                <div class="scroll-on-page">
                    <aside id="scroll-on-page-top">
                      <a class="scroll-on-page-link" href="#insights">Insights</a>
                      <a class="scroll-on-page-link" href="#notes">Notes</a>
                      <a class="scroll-on-page-link" href="#comments">Comments</a>
                    </aside>
                    <article>
                        <section>
                          <h4 id="insights">Insights</h4>
                          <br>
                        </section>
                        <section>
                          <h4 id="notes">Notes</h4>
                          <br>
                           <!-- ONLY ONE SHOWING... ONLY CLICK INTO MODAL -->
                                <div class="comment">
                                      <div class="comment-image">
                                        <img src="<%= asset_path('pb-logo.png') %>">
                                      </div>
                                      <%notes= get_notes(@report,"BalanceSheet")%>
                                      <div class="comment-content">
                                        <h1><%= ((notes.blank?)? "No Notes" : notes.commenter)%></h1>
                                        <p><%= ((notes.blank?)? "No Notes" : notes.body)%></p>
                                        <p class="comment-detail">Date or details about this post</p>
                                        <%= link_to "View all",get_notes_report_notes_path(@report.id,:subject=>"BalanceSheet"),:remote=>true%>
                                      </div>
                                </div>

                        </section>
                        <section>
                                <!-- ONLY ONE SHOWING... ONLY CLICK INTO MODAL -->
                                <h4 id="comments">Comments</h4>
                                <br>
                                <div class="comment">
                                      <div class="comment-image">
                                        <img src="<%= asset_path('pb-logo.png') %>">
                                      </div>
                                      <%comments= get_comments(@report,"BalanceSheet")%>
                                      <div class="comment-content">
                                        <h1><%= ((comments.blank?)? "No Comments" : comments.commenter)%></h1>
                                        <p><%= ((comments.blank?)? "No Comments" : comments.body)%></p>
                                        <p class="comment-detail">Date or details about this post</p>
                                        <%= link_to "View all",get_comments_report_comments_path(@report.id,:subject=>"BalanceSheet"),:remote=>true%>
                                        
                                      </div>
                                </div>
                          </section>
                      </article>
                      <!-- WRAPPER ARTICLE -->
                </div>
                <!-- END OF SCROLLONPAGE -->
              </li>
              <!-- END OF SUBMENU -->
            </ul>
          </li>
        </ul>
        <!-- END OF ACCORDIAN CONTAINER -->
    </article>
</section>


<!-- padding container -->
<section class="layout-container">
  <article class="type-system-slab">
    <h2 style="color:#FB7D98;">Balance Sheet</h2> 
  </article>
</section>




<section class="layout-container">
  <article class="type-system-slab">
          <div class="scroll-on-page" style="width:100%;">
              <aside id="scroll-on-page-top">
                <a class="scroll-on-page-link" href="#current-assets">Current assets</a>
                <a class="scroll-on-page-link" href="#net-current-assets">Net current assets</a>
                <br>
                <div class="dropdown">
                    <div class="dropdown-container">
                      <p class="dropdown-description">New</p>
                      <p class="dropdown-button">Balance Sheet</p>
                      <ul class="dropdown-menu dropdown-select">
                        <li><%= link_to 'Notes', new_report_note_path(@report, subject: 'BalanceSheet'), remote: true, class: 'button' %></li>
                        <li><%= link_to 'Comments', new_report_comment_path(@report, subject: 'BalanceSheet'), remote: true, class: 'button'%></li>
                        <li><%= link_to 'Reconciliations', "", remote: true, class: 'button'%></li>
                      </ul>
                    </div>
                </div>
              </aside>
              <article>
                  <section>
                      <h4 id="insights">Balance Sheet</h4>
                      <table id="" class="table-minimal">
                      <tbody>
                                <tr>
                                    <td></td>
                                    <td><%= cp %></td>
                                    <td><%= pp %></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Fixed assets</td>
                                    <td style="color:#f3655e;">£</td>
                                    <td style="color:#f3655e;">£</td>
                                    <td style="color:#f3655e;"> &#916 mvmt </td>
                                </tr>
                                <!-- NON CURRENT ASSET TAGS -->
                                <!-- !!!!!!!! SUMMARY ITERATION !!!!!!!!! -->
                                <!-- SUM TANGIBLE ASSET TAGS -->
                                <% $cy_fa_tang = 0 %>
                                <% $py_fa_tang = 0 %>
                                <% @tags[:fa_tang].each do | master_tag | %>
                                    <% cy = find_data(master_tag, :cy)  %>
                                    <% py = find_data(master_tag, :py)  %>
                                    <% cy_amt = yield_amount { cy }.to_i %>
                                    <% py_amt = yield_amount { py }.to_i %>
                                    <% unless (cy_amt + py_amt == 0.00) %>
                                        <% $cy_fa_tang += cy_amt %>
                                        <% $py_fa_tang += py_amt %>
                                        <!-- HIDDEN JS LINE ASSETS -->
                                        <span class="js-fs-line" data-tag="fa_tang" data-reporting-line="<%= master_tag %>" data-cy="<%= cy_amt %>" data-py="<%= py_amt %>"></span>
                                    <% end %>
                                    <!-- END OF UNLESS -->
                                <% end %>
                                <!-- DISPLAY SUMMARIES FA TANG -->
                                <tr>
                                    <td style="color:#f3655e;">Tangible assets</td>
                                    <% nca_amounts[:cy] << $cy_fa_tang %>
                                    <% nca_amounts[:py] << $py_fa_tang %>
                                    <% mvmt = $cy_fa_tang - $py_fa_tang %>
                                    <td class="values_breakdown" data-summary-line="true" data-summary-tag="fa_tang" data-ifrstag="Tangible fixed assets" data-period="current"><%= number_with_delimiter($cy_fa_tang) %></td>
                                    <td class="values_breakdown" data-summary-line="true" data-summary-tag="fa_tang" data-ifrstag="Tangible fixed assets" data-period="comparative"><%= number_with_delimiter($py_fa_tang) %></td>
                                    <td><%= display_ifrs(mvmt) %></td>
                                </tr>

                                <!-- NON CURRENT ASSET TAGS -->
                                <!-- !!!!!!!! SUMMARY ITERATION !!!!!!!!! -->
                                <!-- SUM INTANGIBLE ASSET TAGS -->
                                <% $cy_fa_intang = 0 %>
                                <% $py_fa_intang = 0 %>
                                <% @tags[:fa_intang].each do | master_tag | %>
                                    <% cy = find_data(master_tag, :cy)  %>
                                    <% py = find_data(master_tag, :py)  %>
                                    <% cy_amt = yield_amount { cy }.to_i %>
                                    <% py_amt = yield_amount { py }.to_i %>
                                    <% unless (cy_amt + py_amt == 0.00) %>
                                        <% $cy_fa_intang += cy_amt %>
                                        <% $py_fa_intang += py_amt %>
                                        <!-- HIDDEN JS LINE ASSETS -->
                                        <span class="js-fs-line" data-tag="fa_intang" data-reporting-line="<%= master_tag %>" data-cy="<%= cy_amt %>" data-py="<%= py_amt %>"></span>
                                    <% end %>
                                    <!-- END OF UNLESS -->
                                <% end %>
                                <!-- DISPLAY SUMMARIES FA TANG -->
                                <tr>
                                    <td style="color:#f3655e;">Intangible assets</td>
                                    <% nca_amounts[:cy] << $cy_fa_intang %>
                                    <% nca_amounts[:py] << $py_fa_intang %>
                                    <% mvmt = $cy_fa_intang - $py_fa_intang %>
                                    <td class="values_breakdown" data-summary-line="true" data-summary-tag="fa_intang" data-ifrstag="Intangible fixed assets" data-period="current"><%= number_with_delimiter($cy_fa_intang) %></td>
                                    <td class="values_breakdown" data-summary-line="true" data-summary-tag="fa_intang" data-ifrstag="Intangible fixed assets" data-period="comparative"><%= number_with_delimiter($py_fa_intang) %></td>
                                    <td><%= display_ifrs(mvmt) %></td>
                                </tr>
                                <!-- NON CURRENT ASSET TAGS -->
                                <!-- !!!!!!!! SUMMARY ITERATION !!!!!!!!! -->
                                <!-- SUM INTANGIBLE ASSET TAGS -->
                                <% $cy_fa_intang = 0 %>
                                <% $py_fa_intang = 0 %>
                                <% @tags[:fa_invest].each do | master_tag | %>
                                    <% cy = find_data(master_tag, :cy)  %>
                                    <% py = find_data(master_tag, :py)  %>
                                    <% cy_amt = yield_amount { cy }.to_i %>
                                    <% py_amt = yield_amount { py }.to_i %>
                                    <% unless (cy_amt + py_amt == 0.00) %>
                                        <% $cy_fa_intang += cy_amt %>
                                        <% $py_fa_intang += py_amt %>
                                        <!-- HIDDEN JS LINE ASSETS -->
                                        <span class="js-fs-line" data-tag="fa_invest" data-reporting-line="<%= master_tag %>" data-cy="<%= cy_amt %>" data-py="<%= py_amt %>"></span>
                                    <% end %>
                                    <!-- END OF UNLESS -->
                                <% end %>
                                <!-- DISPLAY SUMMARIES FA TANG -->
                                <tr>
                                    <td style="color:#f3655e;">Investment fixed assets</td>
                                    <% nca_amounts[:cy] << $cy_fa_intang %>
                                    <% nca_amounts[:py] << $py_fa_intang %>
                                    <% mvmt = $cy_fa_intang - $py_fa_intang %>
                                    <td class="values_breakdown" data-summary-line="true" data-summary-tag="fa_invest" data-ifrstag="Investment fixed assets" data-period="current"><%= number_with_delimiter($cy_fa_intang) %></td>
                                    <td class="values_breakdown" data-summary-line="true" data-summary-tag="fa_invest" data-ifrstag="Investment fixed assets" data-period="comparative"><%= number_with_delimiter($py_fa_intang) %></td>
                                    <td><%= display_ifrs(mvmt) %></td>
                                </tr>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                                <!-- DISPLAY TOTAL NCA ASSETS ROW -->
                                <% cy_nca = nca_amounts[:cy].inject(:+) %>
                                <% py_nca = nca_amounts[:py].inject(:+) %>
                                <% mvmt = cy_nca - py_nca %>
                                <tr>
                                  <td></td>
                                  <td style="color:#f3655e;"><%= number_with_delimiter(cy_nca) %></td>
                                  <td style="color:#f3655e;"><%= number_with_delimiter(py_nca) %></td>
                                  <td><%= mvmt %></td>
                                </tr>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>

                                <!-- END OF NON CURRENT ASSETS --> 
                                <!-- START OF CURRENT ASSETS --> 
                                <tr id="current-assets">
                                    <td>Current assets</td>
                                    <td style="color:#f3655e;">£</td>
                                    <td style="color:#f3655e;">£</td>
                                    <td style="color:#f3655e;"> &#916 mvmt </td>
                                </tr>
                                <!-- GROSS PROFIT REVENUE TAGS -->
                                <% @tags[:curr_assets].each do | master_tag | %>
                                  <% cy = find_data(master_tag, :cy)  %>
                                  <% py = find_data(master_tag, :py)  %>
                                  <% cy_amt = yield_amount { cy }.to_i %>
                                  <% py_amt = yield_amount { py }.to_i %>
                                  <% unless (cy_amt + py_amt == 0.00) %>
                                  <tr>
                                    <td style="color:#f3655e;"><%= master_tag %></td>
                                    <% ca_amounts[:cy] << cy_amt %>
                                    <% ca_amounts[:py] << py_amt %>
                                    <% mvmt = cy_amt - py_amt %>
                                    <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="current"><%= number_with_delimiter(cy_amt) %></td>
                                    <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="comparative"><%= number_with_delimiter(py_amt) %></td>
                                    <td><%= display_ifrs(mvmt) %></td>
                                  </tr>
                                  <!-- HIDDEN JS LINE GP_COS for FSEXPORT -->
                                  <span class="js-fs-line" data-tag="curr_assets" data-reporting-line="<%= master_tag %>" data-cy="<%= cy_amt %>" data-py="<%= py_amt %>"></span>
                                  <% end %>
                                  <!-- END OF UNLESS -->
                                <% end %>


                                <!-- DISPLAY TOTAL CURRENT ASSETS ROW -->
                                <% cy_ca = ca_amounts[:cy].inject(:+) %>
                                <% py_ca = ca_amounts[:py].inject(:+) %>
                                <% mvmt = cy_ca - py_ca %>
                                <tr>
                                  <td></td>
                                  <td style="color:#f3655e;"><%= number_with_delimiter(cy_ca) %></td>
                                  <td style="color:#f3655e;"><%= number_with_delimiter(py_ca) %></td>
                                  <td><%= mvmt %></td>
                                </tr>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                                <!--CREDITORS CURRENT ATAGS -->
                                <!-- !!!!!!!! SUMMARY ITERATION !!!!!!!!! -->
                                <!-- SUM ASSET TAGS -->
                                <% $cy_cred_curr = 0 %>
                                <% $py_cred_curr = 0 %>
                                <% @tags[:cred_current].each do | master_tag | %>
                                    <% cy = find_data(master_tag, :cy)  %>
                                    <% py = find_data(master_tag, :py)  %>
                                    <% cy_amt = yield_amount { cy }.to_i %>
                                    <% py_amt = yield_amount { py }.to_i %>
                                    <% unless (cy_amt + py_amt == 0.00) %>
                                        <% $cy_cred_curr += cy_amt %>
                                        <% $py_cred_curr += py_amt %>
                                        <!-- HIDDEN JS LINE ASSETS -->
                                        <span class="js-fs-line" data-tag="cred_current" data-reporting-line="<%= master_tag %>" data-cy="<%= cy_amt %>" data-py="<%= py_amt %>"></span>
                                    <% end %>
                                    <!-- END OF UNLESS -->
                                <% end %>
                                <!-- DISPLAY SUMMARIES FA TANG -->
                                <tr>
                                    <td style="color:#f3655e;">Creditors: falling due within 1 year</td>
                                    <% mvmt = $cy_cred_curr - $py_cred_curr %>
                                    <td class="values_breakdown" data-summary-line="true" data-summary-tag="cred_current" data-ifrstag="Creditors: due within 1 year" data-period="current"><%= number_with_delimiter($cy_cred_curr) %></td>
                                    <td class="values_breakdown" data-summary-line="true" data-summary-tag="cred_current" data-ifrstag="Creditors: due within 1 year" data-period="comparative"><%= number_with_delimiter($py_cred_curr) %></td>
                                    <td><%= display_ifrs(mvmt) %></td>
                                </tr>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>

                                <!-- DISPLAY NET CURRENT ASSETS ROW -->
                                <% net_curr_assets_cy = ca_amounts[:cy].inject(:+) - $cy_cred_curr %>
                                <% net_curr_assets_py = ca_amounts[:py].inject(:+) - $py_cred_curr %>
                                <% mvmt = net_curr_assets_cy - net_curr_assets_py %>
                                <tr id="net-current-assets">
                                  <td>Net current assets</td>
                                  <td style="color:#f3655e;"><%= number_with_delimiter(net_curr_assets_cy) %></td>
                                  <td style="color:#f3655e;"><%= number_with_delimiter(net_curr_assets_py) %></td>
                                  <td><%= mvmt %></td>
                                </tr>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>

                                <!-- DISPLAY TOTAL ASSETS LESS CURRENT CREDITORS -->
                                <% $net_assets_cy = nca_amounts[:cy].inject(:+) + net_curr_assets_cy %>
                                <% $net_assets_py = nca_amounts[:py].inject(:+) + net_curr_assets_py %>
                                <% mvmt = $net_assets_cy - $net_assets_py %>
                                <tr>
                                  <td>Total assets less current liabilities</td>
                                  <td style="color:#f3655e;"><%= number_with_delimiter($net_assets_cy) %></td>
                                  <td style="color:#f3655e;"><%= number_with_delimiter($net_assets_py) %></td>
                                  <td><%= mvmt %></td>
                                </tr>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                </tr>
                            </tbody>
                         </table>

                   </section>
                </article>
                <!-- WRAPPER ARTICLE -->
          </div>
          <!-- END OF SCROLLONPAGE -->
  </article>
</section>

























