<% cp = $cp %>
<% pp = $pp %>
<!-- CALC PLACEHOLDERS -->
<% cy_gp_rev = [0] %>
<% py_gp_rev = [0] %>
<% cy_gp_cos = [0] %>
<% py_gp_cos = [0] %>
<% cy_op_rev = [0]  %>
<% py_op_rev = [0]  %>
<% cy_op_cos = [0]  %>
<% py_op_cos = [0]  %>
<% cy_iat = [0] %>
<% py_iat = [0] %>

<!-- RATIO AND STATS DISPLAY -->

<div class="scroll-on-page" style="width:100%;">
    <aside id="scroll-on-page-top">
      <a class="scroll-on-page-link" href="#gp-profit">Gross Profit</a>
      <a class="scroll-on-page-link" href="#op-profit">Operating Profit</a>
      <a class="scroll-on-page-link" href="#margins">Margins</a>
      <br>
      <div class="dropdown">
          <div class="dropdown-container">
            <p class="dropdown-description">New</p>
            <p class="dropdown-button">Performance</p>
            <ul class="dropdown-menu dropdown-select">
              <li><%= link_to 'Notes', new_report_note_path(@report, subject: 'ProfitLoss'), remote: true, class: 'button', onclick: '' %></li>
              <li><%= link_to 'Comments', new_report_comment_path(@report, subject: 'ProfitLoss'), remote: true, class: 'button'%></li>
              <li><%= link_to 'Reconciliations', "", remote: true, class: 'button'%></li>
            </ul>
          </div>
      </div>
    </aside>
    <article>
        <section>
          <h4 id="insights">Profit and Loss statement for period ending <%= cp %></h4>
          <br>
          <table id="" class="table-minimal">

                <tbody>
                    <tr>
                        <td></td>
                        <td><%= cp %></td>
                        <td><%= pp %></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Turnover</td>
                        <td style="color:#f3655e;">£</td>
                        <td style="color:#f3655e;">£</td>
                        <td style="color:#f3655e;"> &#916 mvmt </td>
                    </tr>
                    <!-- GROSS PROFIT REVENUE TAGS -->
                    <% @tags[:gp_sales].each do | master_tag | %>
                      <% cy = find_data(master_tag, :cy)  %>
                      <% py = find_data(master_tag, :py)  %>
                      <% cy_amt = yield_amount { cy }.to_i %>
                      <% py_amt = yield_amount { py }.to_i %>
                      <% unless (cy_amt + py_amt == 0.00) %>
                      <tr>
                        <td style="color:#f3655e;"><%= master_tag %></td>
                        <% cy_gp_rev << cy_amt %>
                        <% py_gp_rev << py_amt %>
                        <% mvmt = cy_amt - py_amt %>
                        <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="current"><%= number_with_delimiter(cy_amt) %></td>
                        <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="comparative"><%= number_with_delimiter(py_amt) %></td>
                        <td><%= display_ifrs(mvmt) %></td>
                      </tr>
                      <!-- HIDDEN JS LINE GP_COS for FSEXPORT -->
                      <span class="js-fs-line" data-tag="gp-rev" data-reporting-line="<%= master_tag %>" data-cy="<%= cy_amt %>" data-py="<%= py_amt %>"></span>
                      <% end %>
                      <!-- END OF UNLESS -->
                    <% end %>
                    <tr>
                        <td>Cost of Sales</td>
                        <td style="color:#f3655e;"></td>
                        <td style="color:#f3655e;"></td>
                        <td style="color:#f3655e;"></td>
                    </tr>
                    <!-- GROSS PROFIT COS TAGS -->
                    <% @tags[:gp_cos].each do | master_tag | %>
                      <% cy = find_data(master_tag, :cy)  %>
                      <% py = find_data(master_tag, :py)  %>
                      <% cy_amt = yield_amount { cy }.to_i %>
                      <% py_amt = yield_amount { py }.to_i %>
                      <% unless (cy_amt + py_amt == 0.00) %>
                      <tr>
                        <td style="color:#f3655e;"><%= master_tag %></td>
                        <% cy_gp_cos << cy_amt %>
                        <% py_gp_cos << py_amt %>
                        <% mvmt = cy_amt - py_amt %>
                        <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="current">(<%= number_with_delimiter(cy_amt) %>)</td>
                        <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="comparative">(<%= number_with_delimiter(py_amt) %>)</td>
                        <td><%= display_ifrs(mvmt) %></td>
                      </tr>
                      <!-- HIDDEN JS LINE GP_COS for FSEXPORT -->
                      <span class="js-fs-line" data-tag="gp-cos" data-reporting-line="<%= master_tag %>" data-cy="<%= cy_amt %>" data-py="<%= py_amt %>"></span>
                      <% end %>
                      <!-- END OF UNLESS -->
                    <% end %>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!-- GROSS PROFIT ROW -->
                    <% cy_rev = cy_gp_rev.inject(:+)  %>
                    <% py_rev = py_gp_rev.inject(:+)  %>
                    <% cy_cos = cy_gp_cos.inject(:+) %>
                    <% py_cos = py_gp_cos.inject(:+) %>
                    <% gp_cy = cy_rev - cy_cos %>
                    <% gp_py = py_rev - py_cos %>
                    <tr id="gp-profit">
                      <td>Gross Profit</td>
                      <td><%= number_with_delimiter(gp_cy) %></td>
                      <td><%= number_with_delimiter(gp_py) %></td>
                      <td></td>
                    </tr>
                    <!-- GROSS MARGIN ROW -->
                    <tr>
                      <td></td>
                      <td style="color:#f3655e;"><%= gp_margin_cy = margin_percentage(gp_cy, cy_rev) %></td>
                      <td style="color:#f3655e;"><%= gp_margin_py = margin_percentage(gp_py, py_rev) %></td>
                      <td></td>
                    </tr>
                    <!-- HIDDEN JS LINE GP_COS for FSEXPORT -->
                    <span id="js-gp-margin-data" data-cy="<%= gp_margin_cy %>" data-py="<%= gp_margin_py %>" ></span>
                    <!-- OP MARGIN REV ROWS -->
                    <% @tags[:op_sales].each do | master_tag | %>
                      <% cy = find_data(master_tag, :cy)  %>
                      <% py = find_data(master_tag, :py)  %>
                      <% cy_amt = yield_amount { cy }.to_i %>
                      <% py_amt = yield_amount { py }.to_i %>
                      <tr>
                        <td style="color:#f3655e;"><%= master_tag %></td>
                        <% cy_op_rev << cy_amt %>
                        <% py_op_rev << py_amt %>
                        <% mvmt = cy_amt - py_amt %>
                        <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="current"><%= number_with_delimiter(cy_amt) %></td>
                        <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="comparative"><%= number_with_delimiter(py_amt) %></td>
                        <td><%= display_ifrs(mvmt) %></td>
                      </tr>
                      <!-- HIDDEN JS LINE GP_COS for FSEXPORT -->
                     <span class="js-fs-line" data-tag="op-rev" data-reporting-line="<%= master_tag %>" data-cy="<%= cy_amt %>" data-py="<%= py_amt %>"></span>
                    <% end %>

                    <!-- OP MARGIN COS ROWS -->
                    <% @tags[:op_dis].each do | master_tag | %>
                      <% cy = find_data(master_tag, :cy)  %>
                      <% py = find_data(master_tag, :py)  %>
                      <% cy_amt = yield_amount { cy }.to_i %>
                      <% py_amt = yield_amount { py }.to_i %>
                      <% unless (cy_amt + py_amt == 0.00) %>
                      <tr>
                        <td style="color:#f3655e;"><%= master_tag %></td>
                        <% cy_op_cos << cy_amt %>
                        <% py_op_cos << py_amt %>
                        <% mvmt = cy_amt - py_amt %>
                        <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="current">(<%= number_with_delimiter(cy_amt) %>)</td>
                        <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="comparative">(<%= number_with_delimiter(py_amt) %>)</td>
                        <td><%= display_ifrs(mvmt) %></td>
                      </tr>
                      <!-- HIDDEN JS LINE GP_COS for FSEXPORT -->
                      <span class="js-fs-line" data-tag="op-cos" data-reporting-line="<%= master_tag %>" data-cy="<%= cy_amt %>" data-py="<%= py_amt %>"></span>
                      <% end %>
                    <% end %>
                    <!-- !!!!!!!! SUMMARY ITERATION !!!!!!!!! -->
                    <!-- SUM ALL ADMIN EXPENSES -->
                    <% $cy_admin_expenses_amt = 0 %>
                    <% $py_admin_expenses_amt = 0 %>
                    <% @tags[:op_admin].each do | master_tag | %>
                      <% cy = find_data(master_tag, :cy)  %>
                      <% py = find_data(master_tag, :py)  %>
                      <% cy_amt = yield_amount { cy }.to_i %>
                      <% py_amt = yield_amount { py }.to_i %>
                      <% unless (cy_amt + py_amt == 0.00) %>
                        <% $cy_admin_expenses_amt += cy_amt %>
                        <% $py_admin_expenses_amt += py_amt %>
                        <!-- HIDDEN JS LINE GP_COS for FSEXPORT -->
                        <span class="js-fs-line" data-tag="op-cos" data-reporting-line="<%= master_tag %>" data-cy="<%= cy_amt %>" data-py="<%= py_amt %>"></span>
                      <% end %>
                      <!-- END OF UNLESS -->
                    <% end %>
                    <!-- DISPLAY SUMMARIES ADMIN EXPENSES -->
                    <tr>
                        <td style="color:#f3655e;">Administration expenses</td>
                        <% cy_op_cos << $cy_admin_expenses_amt %>
                        <% py_op_cos << $py_admin_expenses_amt %>
                        <% mvmt = $cy_admin_expenses_amt - $py_admin_expenses_amt %>
                        <td class="values_breakdown" data-summary-line="true" data-summary-tag="op_admin" data-ifrstag="Admininstrative expenses" data-period="current">(<%= number_with_delimiter($cy_admin_expenses_amt) %>)</td>
                        <td class="values_breakdown" data-summary-line="true" data-summary-tag="op_admin" data-ifrstag="Admininstrative expenses" data-period="comparative">(<%= number_with_delimiter($py_admin_expenses_amt) %>)</td>
                        <td><%= display_ifrs(mvmt) %></td>
                    </tr>
                    <!-- OP PROFIT DISPLAY ROW -->
                    <% cy_rev_op = cy_op_rev.inject(:+) %>
                    <% py_rev_op = py_op_rev.inject(:+) %>
                    <% cy_cos = cy_op_cos.inject(:+) %>
                    <% py_cos = py_op_cos.inject(:+) %>
                    <% op_cy = gp_cy + cy_rev_op - cy_cos %>
                    <% op_py = gp_py + py_rev_op - py_cos %>
                    <tr id="op-profit">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                      <td>Profit/(loss) on ordinary activities before tax</td>
                      <td><%= number_with_delimiter(op_cy) %></td>
                      <td><%= number_with_delimiter(op_py) %></td>
                      <td></td>
                    </tr>
                    <!-- OP MARGIN PERCEMTAGE DISPLAY ROW -->
                    <tr>
                      <td></td>
                      <td style="color:#f3655e;"><%= op_margin_cy = margin_percentage(op_cy, cy_rev) %></td>
                      <td style="color:#f3655e;"><%= op_margin_py = margin_percentage(op_py, py_rev) %></td>
                      <td></td>
                    </tr>
                    <!-- HIDDEN JS LINE GP_COS for FSEXPORT -->
                    <span id="js-op-margin-data" data-cy="<%= op_margin_cy %>" data-py="<%= op_margin_py %>" ></span>

                    <!-- FINANCING INCOME ROWS -->
                    <% @tags[:pbiat_sales].each do | master_tag | %>
                      <% cy = find_data(master_tag, :cy)  %>
                      <% py = find_data(master_tag, :py)  %>
                      <% cy_amt = yield_amount { cy }.to_i %>
                      <% py_amt = yield_amount { py }.to_i %>
                      <% unless (cy_amt + py_amt == 0.00) %>
                      <tr>
                        <td style="color:#f3655e;"><%= master_tag %></td>
                        <% cy_iat << cy_amt %>
                        <% py_iat << py_amt %>
                        <% mvmt = cy_amt - py_amt %>
                        <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="current"><%= number_with_delimiter(cy_amt) %></td>
                        <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="comparative"><%= number_with_delimiter(py_amt) %></td>
                        <td><%= display_ifrs(mvmt) %></td>
                      </tr>
                      <!-- HIDDEN JS LINE GP_COS for FSEXPORT -->
                      <span class="js-fs-line" data-tag="op-cos" data-reporting-line="<%= master_tag %>" data-cy="<%= cy_amt %>" data-py="<%= py_amt %>"></span>
                      <% end %>
                    <% end %>
                    <!-- FINANCING cost ROWS -->
                    <% @tags[:pbiat_cos].each do | master_tag | %>
                      <% cy = find_data(master_tag, :cy)  %>
                      <% py = find_data(master_tag, :py)  %>
                      <% cy_amt = yield_amount { cy }.to_i %>
                      <% py_amt = yield_amount { py }.to_i %>
                      <% unless (cy_amt + py_amt == 0.00) %>
                      <tr>
                        <td style="color:#f3655e;" class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period=""><%= master_tag %></td>
                        <% cy_iat << cy_amt %>
                        <% py_iat << py_amt %>
                        <% mvmt = cy_amt - py_amt %>
                        <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="current">(<%= number_with_delimiter(cy_amt) %>)</td>
                        <td class="values_breakdown" data-ifrstag="<%= master_tag %>" data-period="comparative">(<%= number_with_delimiter(py_amt) %>)</td>
                        <td><%= display_ifrs(mvmt) %></td>
                      </tr>
                      <!-- HIDDEN JS LINE GP_COS for FSEXPORT -->
                      <span class="js-fs-line" data-tag="op-cos" data-reporting-line="<%= master_tag %>" data-cy="<%= cy_amt %>" data-py="<%= py_amt %>"></span>
                      <% end %>
                    <% end %>
                    <!-- EMPTY ROW FOR TAX DISPLAY -->
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <% $cy_tax_expenses_amt = 0 %>
                    <% $py_tax_expenses_amt = 0 %>
                    <!-- SUM ALL TAX EXPENSES -->
                    <% @tags[:tax_cos].each do | master_tag | %>
                      <% cy = find_data(master_tag, :cy)  %>
                      <% py = find_data(master_tag, :py)  %>
                      <% cy_amt = yield_amount { cy }.to_i %>
                      <% py_amt = yield_amount { py }.to_i %>
                      <% unless (cy_amt + py_amt == 0.00) %>
                        <% $cy_tax_expenses_amt += cy_amt %>
                        <% $py_tax_expenses_amt += py_amt %>
                        <!-- HIDDEN JS LINE GP_COS for FSEXPORT -->
                        <span class="js-fs-line" data-tag="tax" data-reporting-line="<%= master_tag %>" data-cy="<%= cy_amt %>" data-py="<%= py_amt %>"></span>
                      <% end %>
                      <!-- END OF UNLESS -->
                    <% end %>
                    <!-- DISPLAY SUMMARIES TAX EXPENSES -->
                    <tr>
                        <td style="color:#f3655e;">Taxation on profit and ordinary activities</td>
                        <% cy_iat << $cy_tax_expenses_amt %>
                        <% py_iat << $py_tax_expenses_amt %>
                        <% mvmt = $cy_tax_expenses_amt - $py_tax_expenses_amt %>
                        <td class="values_breakdown" data-ifrstag="Taxation on profit and ordinary activities" data-period="current">(<%= number_with_delimiter($cy_tax_expenses_amt) %>)</td>
                        <td class="values_breakdown" data-ifrstag="Taxation on profit and ordinary activities" data-period="comparative">(<%= number_with_delimiter($py_tax_expenses_amt) %>)</td>
                        <td><%= display_ifrs(mvmt) %></td>
                    </tr>
                    <!-- PAT CALCULATION and PROFIT DISPLAY ROW -->
                    <% cy_tax_and_int = cy_iat.inject(:+) %>
                    <% py_tax_and_int = py_iat.inject(:+) %>
                    <% $cy_pat = op_cy - cy_tax_and_int %>
                    <% $py_pat = op_py - py_tax_and_int %>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                      <td>Profit/(loss) on ordinary activities after interest and tax</td>
                      <td><%= number_with_delimiter($cy_pat) %></td>
                      <td><%= number_with_delimiter($py_pat) %></td>
                      <td></td>
                    </tr>
                    <!-- PAT MARGIN PERCEMTAGE DISPLAY ROW -->
                    <tr>
                      <td></td>
                      <td style="color:#f3655e;"><%= pat_margin_cy = margin_percentage($cy_pat, $cy_rev) %></td>
                      <td style="color:#f3655e;"><%= pat_margin_py = margin_percentage($py_pat, $py_rev) %></td>
                      <td></td>
                    </tr>
                    <!-- HIDDEN JS LINE GP_COS for FSEXPORT -->
                    <span id="js-margin-data" data-cy="<%= op_margin_cy %>" data-py="<%= op_margin_py %>" ></span>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                  </tbody>

           </table>
          <!-- END OF PNL TABLE -->
        </section>
      </article>
      <!-- WRAPPER ARTICLE -->
</div>
<!-- END OF SCROLLONPAGE -->

