
		<% if @cashflows.count == 0 %>

			<div class="hives-box fade-in-element nice-display">
				<div class="hb-container">
					<aside>
						<%= image_tag('pb-logo.png') %>
						<p>CashFlow projections</p>
					</aside>
					<aside class="box-hover">
						<p class="author">No Cash Flows</p>
					</aside>
					<aside class="box-hover">
						<p class="date">Start Working</p>
					</aside>
					<aside class="last-box">
						  <%= link_to "View All", ledgers_path, class: "lovely-link-button" %>
					</aside>
				</div>
			</div>

		<% elsif  @cashflows.count == 1 %>

			<div class="hives-box fade-in-element nice-display">
				<div class="hb-container">
					<aside>
						<%= image_tag('pb-logo.png') %>
						<p>CashFlow projections</p>
					</aside>
					<aside class="box-hover">
						<% $cf_1 = @cashflows.first %>
						<a href="<%= cash_flow_ledger_path($cf_1) %>">
							<p><span><%= truncate($cf_1.user_tag, length: 40) %></span></p>
							<p class="date"><%= time_ago_in_words($cf_1.updated_at) %> ago</p>
							<p class="author">ProfitBees</p>
						</a>
					</aside>
					<aside class="box-hover">
						<p class="date">Create more</p>
					</aside>
					<aside class="last-box">
						  <%= link_to "View All", ledgers_path, class: "lovely-link-button" %>
					</aside>
				</div>
			</div>

		<% else %>

			<div class="hives-box fade-in-element nice-display">
				<div class="hb-container">
					<aside>
						<%= image_tag('pb-logo.png') %>
						<p>CashFlow projections</p>
					</aside>
					<aside class="box-hover">
						<% $cf_1 = @cashflows.first %>
						<a href="<%= cash_flow_ledger_path($cf_1) %>">
							<p><span><%= truncate($cf_1.user_tag, length: 40) %></span></p>
							<p class="date"><%= time_ago_in_words($cf_1.updated_at) %> ago</p>
							<p class="author">ProfitBees</p>
						</a>

					</aside>
					<aside class="box-hover">
						<% $cf_2 = @cashflows.last %>
						<a href="<%= cash_flow_ledger_path($cf_1) %>">
							<p><span><%= truncate($cf_2.user_tag, length: 40) %></span></p>
							<p class="date"><%= time_ago_in_words($cf_2.updated_at) %> ago</p>
							<p class="author">ProfitBees</p>
						</a>
					</aside>
					<aside class="last-box">
						 <%= link_to "View All", ledgers_path, class: "lovely-link-button" %>
					</aside>
				</div>
			</div>

		<% end %>