<div style='clear:both; margin-left:10%;'>
  <h2>Files on Google Drive</h2>
  <% if @drive_files %>
    <table width='50%' style='text-align:center'>
      <tr>
        <th> Title </th>
        <th> Action </th>
      </tr>
      <% @drive_files.each do |file| %>
        <tr>
          <td><%= file.title %></td>
          <td><%= link_to 'Open', file.human_url, target: '_blank' %></td>
          <td><%= link_to 'Share', 'javascript:void(0);', data: {human_url: file.human_url}, class: 'share_file' %><td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

<div id="share-file-modal" style='display:none'>
  <%= form_tag  share_file_path, class: 'share_file' do %>
    <%= hidden_field_tag 'file_url', '', class: 'share_file_url' %>
    <%= select_tag 'role', options_for_select(['reader', 'writer']) %>
    <br>
    <%= text_area_tag 'users_email' %>
    <%= submit_tag 'Share' %>
  <% end %>
</div>
