<header class="top-nav" role="banner">
	
   <div class="top-nav-wrapper">	

   		   <div>
	   		   <%= link_to image_tag('a-menu-button.png') %>
	   		   <%= link_to "Hives" %>
	   		   <%= link_to "Bees" %>
		   </div>
		   <div class="float-links-right">
			   <%= link_to image_tag('settings-button.png') %>
			   <%= link_to image_tag('menu-buttons.png') %>
		   </div>

   </div>	


</header>