<header class="top-nav" role="banner">
	
   <div class="top-nav-wrapper">	

   		   <div class="buttons-vertical-align" >
	   		   <%= link_to image_tag('honeycomb.png'), {}, class: "sliding-panel-button" %>
	   		   <%= link_to "Hives", {}, class: "ui-flash" %>
	   		   <%= link_to "Bees" %>
		   </div>
		   <div class="float-links-right">
		   	   <a href="https://drive.google.com/folderview?id=0B5cwfWiE1VcKfjBoVFdJbHZOdFAyNndqcHkyZXI5XzZtVXVrUm9ZQkd0bHlFUGpwd2FCMVk&usp=sharing" target="_blank">
		   	   	<img src="<%= asset_path('ss-ref.png') %>">
		   	   </a>
		   </div>

   </div>	

</header>

<div class="slider-action-bar">
	<img id="new-work-icon" src="<%= asset_path('new-work-icon.gif') %>">
</div>

 <% path = request.fullpath %>
 
 <% if request.fullpath == "/" %>
 <% end%>

<nav class="js-menu sliding-panel-content">
  <ul>
      <% if current_user %>
        <% if session[:provider].include? "Office365" %>
          <li>
          	<a href="https://onedrive.live.com/" target="_blank">OneDrive</a>
          </li>
        <% else %>
          <li>
          	<a href="https://drive.google.com/drive/my-drive" target="_blank">yourDrive</a>
		  </li>
        <% end %>
        <li>
        	<!-- ROUTE OR SCRIPT AT BOTTOM OF PAGE? -->
        	<%= link_to('SignOut', sign_out_user_welcome_index_path, id: 'disconnect') %>
        </li>
      <% end  %>
  </ul>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen"></div>

<section class="layout-container">
	<article class="type-system-slab">
	<!-- FONT ARTICLE WRAPPER -->

		<%= render 'boardPacks' %>

		<!-- CashFlows, Projections DISPLAY -->
		<%= render 'cashflows' %>
		<!-- microBooks DISPLAY -->
		<div class="hives-box fade-in-element">
			<div class="hb-container">
				<aside>
					<%= image_tag('pb-logo.png') %>
					<p>MicroBooks</p>
				</aside>
				<aside class="box-hover">
					<p><span><%= truncate("Honey Cash Hives", length: 40) %></span></p>
					<p class="date">Coming Soon</p>
					<p class="author">ProfitBees</p>
				</aside>
				<aside class="box-hover">
					<p><span><%= truncate("Honey Cash Hives", length: 40) %></span></p>
					<p class="date">Coming Soon</p>
					<p class="author">ProfitBees</p>
				</aside>
				<aside class="last-box">
					  <a href="javascript:void(0)" class="lovely-link-button">View All</a>
				</aside>
			</div>
		</div>
	</article>
</section>


<aside id="hidden-buttons-for-bar"> 
	<%= link_to new_report_path(format: 'UKGAAP'), remote: true do %>
		<img src="<%= asset_path('new-ifrs-bp.png') %>">
	<% end %>
	<%= link_to new_report_path(format: 'IFRS'), remote: true do %>
		<img src="<%= asset_path('new-uk-bp.png') %>">
	<% end %>
	<%= link_to new_ledger_path(type: 'CashFlowLedger'), remote: true do %>
		<img src="<%= asset_path('new-cf.png') %>">
	<% end %>		
</aside>

<script>

	  $(document).ready(function(){
		  
			  $('.sliding-panel-button,.sliding-panel-fade-screen,.sliding-panel-close').on('click touchstart',function (e) {
			    $('.sliding-panel-content,.sliding-panel-fade-screen').toggleClass('is-visible');
			    e.preventDefault();
			  });

			  // OR HERE?
			  // WE DO NEED CLIENT SIGNOUT FOR GOOGLE i.e. disconnectUser
			  $('#disconnect').on('click', function(e) {
		          e.preventDefault();
		          helper.disconnectUser()
		          helper.disconnectServer();
		          window.location.href = "/"
		      });

			  $('#new-work-icon').click(function(){
					slideBar = 	$( ".slider-action-bar" )
					if (slideBar.width() > 70 ) {
						// HIDE BAR
					   slideBar.animate({ width: "40" }, 1000 )
					   slideBar.children('a').fadeOut();
					   slideBar.children('a').remove();

					} else {
					   // OPEN BAR
					    slideBar.animate({ width: "20%" }, {
					    	duration: 1000,
					    	complete: function() {
					    	  actionButtons = $('#hidden-buttons-for-bar').children('a').clone();
					          slideBar.append(actionButtons);
					    	}
					    });
					}
					// END OF IF
			   });

	  });

	  $(window).scroll(function() {
	  	fadeElements = $(".fade-in-element")
	  	$.each( fadeElements, function( index, el ){
		    setFadeInScrollTriggers(el)
		});
	  });

	  function setFadeInScrollTriggers(element) {

	  	if( $(element).length > 0 ) {

	      var elementTopToPageTop = $(element).offset().top;
	      var windowTopToPageTop = $(window).scrollTop();
	      var windowInnerHeight = window.innerHeight;
	      var elementTopToWindowTop = elementTopToPageTop - windowTopToPageTop;
	      var elementTopToWindowBottom = windowInnerHeight - elementTopToWindowTop;
	      var distanceFromBottomToAppear = 300;

	      if(elementTopToWindowBottom > distanceFromBottomToAppear) {
	        $(element).addClass('nice-display');
	      }
	     
	    }
	    // END OF IF
	  }
</script>




