<div id="landing-loadwrapper">	
	<!-- CONTAINS A SLIDE NAV OR LANDING ONLY -->
	<%= render 'shared/baselayout' %>
	<!-- unAUTH OPS includes GPLUS button -->
	<%= render 'landing' %>
</div>

<div id="authOps" style="display:none;">
	<%= render 'authOps' %>
</div>

<div id="state" style="display:none;"><%= @state %></div>

<!-- LANDING INDEX ONLY MODALS -->
<div class="modal">
    <input class="modal-state" id="modal-loading-landing" type="checkbox" />
    <div class="modal-fade-screen">
      <div class="modal-inner">
        <div class="modal-close" for="modal-ledger-landing-load"></div>
        <div id="loading-landing-modal-body">
          
          <article class="type-system-rounded">
              <h3>Monea.finance</h3>
              <p style="color:#f3655e;" > Signing in: please be patient.. </p>
          </article>

          <p></p>
            <div class="sk-cube-grid">
              <div class="sk-cube sk-cube1"></div>
              <div class="sk-cube sk-cube2"></div>
              <div class="sk-cube sk-cube3"></div>
              <div class="sk-cube sk-cube4"></div>
              <div class="sk-cube sk-cube5"></div>
              <div class="sk-cube sk-cube6"></div>
              <div class="sk-cube sk-cube7"></div>
              <div class="sk-cube sk-cube8"></div>
              <div class="sk-cube sk-cube9"></div>
            </div>
            <article class="type-system-rounded">
              <p>If this is your first time signing in, it will take longer as we load example ledgers and reports</p>
            </article>
        </div>  
      </div>
    </div>
</div>

<%= render 'shared/modals' %>
