<div class="hero landing-welcome">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="<%= asset_path('full-logo-profitbees.png') %>
" alt="Logo Image"></a>
    <div class="hero-copy">
      <article class="type-system-slab">
          <p style="color:#d61579;">Software to deliver loan ready financials for startups and SMEs</p>  
      </article>
    </div>
  </div>
</div>

<section class="user-welcome-landing">
    <article id="action-auth-sign-in" class="type-system-slab">
      <h3>Choose your Cloud engine;</h1>
      <br><br>
      <div class="flex-boxes">
          <a id="" href="javascript:void(0)" class="flex-box" onclick="signIn.authGoogle();">
            <img src="<%= asset_path("google_apps_work.png") %>" alt="">
            <h1 class="flex-title">Click to Sign in</h1>
            <p>Authenticated using your Google cloud profile for added security</p>
          </a>
          <a href="javascript:void(0)" class="flex-box" onclick="signIn.authWindows();">
            <img src="<%= asset_path("office365-logo.png") %>" alt="">
            <h1 class="flex-title">Click to Sign in</h1>
            <p>Authenticated using your Google cloud profile for added security</p>
          </a>
      </div>
      <a href="">Have neither?</a>
    </article>
</section>

<section id="google-signin-button" class="user-welcome-landing" style="display:none;">
          <%= render 'googleButton' %>
</section>

<section id="windows-signin-button" class="user-welcome-landing" style="display:none;">
          <%= render 'office365Button' %>
</section>


<footer class="footer-welcome-landing" role="contentinfo">

  <div class="footer-logo">
    <img src="<%= asset_path('pb-logo.png') %>" alt="Logo image">
  </div>
  <article class="type-system-slab">
      <div class="footer-links">
        <ul>
          <li><h3>Content</h3></li>
          <li><a href="javascript:void(0)">About</a></li>
          <li><a href="javascript:void(0)">Contact</a></li>
          <li><a href="javascript:void(0)">Products</a></li>
        </ul>
        <ul>
          <li><h3>Follow Us</h3></li>
          <li><a href="javascript:void(0)">Facebook</a></li>
          <li><a href="javascript:void(0)">Twitter</a></li>
          <li><a href="javascript:void(0)">YouTube</a></li>
        </ul>
        <ul>
          <li><h3>Legal</h3></li>
          <li><a href="javascript:void(0)">Terms and Conditions</a></li>
          <li><a href="javascript:void(0)">Privacy Policy</a></li>
        </ul>
      </div>
  </article>

  <hr>
  <p>Business reporting and adequate control over it, is an applied craft by humans, whom use software to aid their process.  Ergo, no piece of software should be soley relied on to conduct full business reporting duties.  Our software still requires people brainpower.  ProfitBees is provided "as is" and "with all faults." ProfitBees makes no representations or warranties of any kind concerning the accuracy, suitability, lack of viruses, inaccuracies, typographical errors, or other harmful components of this SOFTWARE PRODUCT.</p>
</footer>

<div id="state" style="display:none;"><%= @state %></div>



