<div style="color:#f3655e;" id="table-title">
  <%= "Summary : " + params[:ifrstag] %>
</div>
<br>
<table id="empty-modal-table" class="table-minimal">
  <tr style="color:#f3655e;">
    <td>Type</td>
    <td>Date</td>
    <td>miTag</td>
    <td>£</td>
    <td>IFRS tag</td>
  </tr>

  <% if params[:summary] %>
  
    <% @data.each do |line| %>
        <% line.each do |value| %>
          <tr>
            <td><%= value.type rescue nil%></td>
            <td><%= value.repdate.strftime('%B %Y') rescue nil %></td>
            <td><%= value.mitag %></td>
            <td><%= value.amount %></td>
            <td><%= value.ifrstag %></td>
          </tr>
        <% end %>
    <% end %>

  <% else %>

    <% @data.each do |value| %>
      <tr>
        <td><%= value.type rescue nil%></td>
        <td><%= value.repdate.strftime('%B %Y') rescue nil %></td>
        <td><%= value.mitag %></td>
        <td><%= value.amount %></td>
        <td><%= value.ifrstag %></td>
      </tr>
    <% end %>

  <% end %>
</table>
