
<article class="type-system-rounded">

      <h1>new Report</h1>
      <p> (add or import report values after create boss) </p>

      <%= form_for @report do |f| %>

          <table id="new-report-form" class="table-minimal">
              <tbody>
                  <tr>
                    <td style="color:#f3655e;"><%= f.label :title %></td>
                    <td class="input-style"> <%= f.text_field :title, placeholder: "Enter title" %></td>
                  </tr>
                  <tr>
                    <td style="color:#f3655e;"><%= f.label :current_end %></td>
                    <td class="input-style"> <%= f.date_select(:current_end, order: [:year, :month], selected: Date.today) %></td>
                  </tr>
                  <tr>
                    <td style="color:#f3655e;"><%= f.label :comparative_end %></td>
                    <td> <%= f.date_select(:comparative_end, order: [:year, :month], selected: Date.today-1.year) %></td>
                  </tr>
                  <%= f.hidden_field(:report_type, :value => "Statutory", name: 'report[report_type]') %>
                  <tr>
                      <td style="color:#f3655e;"><%= f.label :format %></td>
                      <td><%= f.select :format, options_for_select( ['IFRS', 'UKGAAP'] ) %></td>
                  </tr>
                  <tr>
                    <td class="button-style"><%= f.submit %></td>
                    <td></td>
                  </tr>
                </tbody>
          </table>
      <% end %>

</article>






