<article class="type-system-slab modal-form">
  
  <p>New Journal for report <%= @report.title %></p>
  <% report_current_end = @report.current_end %>

  <p class='error'></p>
  <%= form_for @report, url: save_journal_report_path(@report), method: :post, remote: true do |f| %>
    <div style="margin:1em 0 1em 0;">
      <%= text_field_tag :description, nil, {placeholder: 'Being your journal description..',class: 'jnl-desc'} %>
      <br>
    </div>
    <table class="table-minimal etb_values">
          <tr>
              <td class="lovely-pink">
                 <%= select_tag 'report[etb_values][1][repdate(2i)]', options_for_select(month_list, report_current_end.strftime("%m")) %>
                 <%= select_tag 'report[etb_values][1][repdate(1i)]', options_for_select(2010..2020, selected: report_current_end.strftime("%Y")) %>
                 <%= hidden_field_tag 'report[etb_values][1][repdate(3i)]', '1' %>
              </td>
              <td class="lovely-pink">
                 <%= text_field_tag 'report[etb_values][1][mitag]', nil, {placeholder: 'Add your tag..'} %>
              </td>
          </tr>
          <tr>
              <td class="lovely-pink">
                 <%= text_field_tag 'report[etb_values][1][amount]', nil, {placeholder: 'e.g. 16.90'} %>
              </td>
              <td>
                 <%= select_tag 'report[etb_values][1][ifrstag]', options_for_select( $form_select_tags ) %>
              </td>
          </tr>
    </table>
    <table class="table-minimal">
          <tr>
              <td class="lovely-pink">
                <%= link_to 'value.add', 'javascript:void(0)', onclick: 'reportShowHelper.addValueToJournalForm();' %>
              </td>
              <td class="lovely-pink">
              </td>
              <td>
              </td>
          </tr>
          <tr>
              <td class="lovely-pink">
              </td>
              <td class="button-style">
                  <%= f.submit 'Book Journal', style: 'float: left; clear:both; padding-left:10px' %>
              </td>
              <td>
              </td>
          </tr>
      </table>
  <% end %>
  <!-- END OF FORM-FOR -->
</article>

<div style='display:none;'>
  <table class='value_template'>
        <tr>
              <td class="lovely-pink">
                 <%= select_tag 'report[etb_values][index][repdate(2i)]', options_for_select(month_list, report_current_end.strftime("%m")) %>
                 <%= select_tag 'report[etb_values][index][repdate(1i)]', options_for_select(2010..2020, selected: report_current_end.strftime("%Y")) %>
                 <%= hidden_field_tag 'report[etb_values][index][repdate(3i)]', '1' %>
              </td>
              <td class="lovely-pink">
                 <%= text_field_tag 'report[etb_values][index][mitag]', nil, {placeholder: 'Add your tag..'} %>
              </td>
          </tr>
          <tr>
              <td class="lovely-pink">
                 <%= text_field_tag 'report[etb_values][index][amount]', nil, {placeholder: 'e.g. 16.90'} %>
              </td>
              <td>
                 <%= select_tag 'report[etb_values][index][ifrstag]', options_for_select( $form_select_tags ) %>
              </td>
        </tr>
  </table>
</div>

