
<article class="type-system-slab modal-form">

      <h1>Settings</h1>
      <p> ( Edit or delete values, disclosures, notes and comments within respective managers) </p>

      <%= form_for(@report, :url => {controller: 'reports', action: 'update'}, remote: true ) do |f| %>

          <table class="table-minimal">
              <tbody>
                  <tr>
                    <td class="text-pink"> your Report Tag </td>
                    <td class="input-style"><%= f.text_field :title, placeholder: @report.title %></td>
                  </tr>
                  <tr>
                    <td class="text-pink"><%= f.label :current_end %></td>
                    <td> <%= f.date_select(:current_end, order: [:year, :month], selected: @report.current_end) %></td>
                  </tr>
                  <tr>
                    <td class="text-pink"><%= f.label :comparative_end %></td>
                    <td> <%= f.date_select(:comparative_end, order: [:year, :month], selected: @report.comparative_end) %></td>
                  </tr>
                  <tr>
                    <td class="text-pink"><%= f.label :drive_folder %></td>
                    <%link= (session[:provider].include?("Office365")? @report.skydrive_folder : @report.drive_folder) %>
                    <td><%= f.text_field :drive_folder, placeholder: link %></td>
                  </tr>
                  <tr>
                    <td class="text-pink"> Format </td>
                    <td><%= f.select :format, options_for_select( [['IFRS'], ['UKGAAP']], {selected: @report.format} ) %></td>
                  </tr>
                  <tr>
                      <td><%#= f.label :report_type %></td>
                      <td><%#= f.select :report_type, options_for_select( ['Statutory', 'Management'] ) %></td>
                  </tr>
                  <tr>
                    <td class="text-pink"></td>
                    <td class="button-style"> <%= f.submit %></td>
                  </tr>
                  
                </tbody>
          </table>
      <% end %>

</article>