<!-- FOR COMMENTS -->
<div class="modal">
      <input class="modal-state" id="report-comments-modal" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-report-comments-empty"></div>
              <article class="type-system-rounded">
              	  <h1>Report.comments</h1>
              	  <h3 style="color:#f3655e;"><%= link_to "Comments.manager", manager_report_comments_path(@report) %></h3>
              	  <br>
                <div class='comments_data'></div>
                <script id="comment-template" type="text/x-handlebars-template">
                  {{#each this}}
                    <div id={{id}} class="comment">
                      <div class="comment-image">
                        <img src="<%= asset_path('twitter-footer.png') %>">
                      </div>
                      <div class="comment-content">
                        <h1><span style="color:#f3655e;">{{subject}} </span> || {{commenter}} </h1>
                        <p> {{body}} </p>
                      </div>
                    </div>
                  {{/each}}
                </script>
		   	  </article>
        </div>
      </div>
</div>

<!-- FOR NOTES -->
<div class="modal">
      <input class="modal-state" id="report-notes-modal" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-report-notes-empty"></div>
              <article class="type-system-rounded">
              	  <h1>Report.notes</h1>
              	  <h3 style="color:#f3655e;"><%= link_to "Notes.manager", manager_report_notes_path(@report) %></h3>
              	  <br>
                <div class='notes_data'></div>
                <script id="note-template" type="text/x-handlebars-template">
                  {{#each this}}
                    <div id={{id}} class="comment">
                      <div class="comment-image">
                        <img src="<%= asset_path('rss-footer.png') %>">
                      </div>
                      <div class="comment-content">
                        <h1><span style="color:#f3655e;">{{subject}} </span> || {{commenter}} </h1>
                        <p> {{body}} </p>
                        <p><a href={{filelink}} target="_blank">Link to backup</a></p>
                      </div>
                    </div>
                  {{/each}}
                </script>
		   	    </article>
        </div>
      </div>
</div>

<script>
cacheNotes('<%= @report.id %>');
cacheComments('<%= @report.id %>');
</script>
