<article class="type-system-slab modal-form">

      <% reportID = params[:report_id]%>
      <h1>Add values to Report</h1>
             <br>
             <%= form_for(Value.new, url: add_value_report_path(reportID), remote: true ) do |f| %>
                <table class="table-minimal">
                        <tr>
                            <td>
                              £
                            </td>
                            <td>
                                <%= f.text_field :amount, placeholder: "enter the amount e.g 114.12" %>
                            </td>
                        </tr>
                        <tr>
                              <td>
                                Reporting Date
                              </td>
                              <td>
                                <%= date_select('value', 'repdate', order: [:month, :year], selected: Report.find(reportID).current_end ) %>
                              </td>
                        </tr>
                        <tr>
                            <td>
                              miTag
                            </td>
                            <td>
                                <%= f.text_field :mitag, placeholder: "e.g. Computers TB" %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                              description
                            </td>
                            <td>
                                <%= f.text_field :description, placeholder: "e.g opening balances" %>
                            </td>
                        </tr>
                        <tr>
                              <td>
                                moneaTag
                              </td>
                              <td>
                                <%= f.select :ifrstag, options_for_select($form_select_tags)  rescue ''%>
                              </td>
                        </tr>
                              <tr>
                                <td>
                                  <%= submit_tag 'Book Value' %>
                                </td>
                        </tr>
                </table>
            <% end %>
      </div>

</article>
