<script type="text/javascript" src="https://js.live.net/v5.0/OneDrive.js" id="onedrive-js" client-id="<%= ENV['SKY_DRIVE_CLIENT_ID']%>"></script>
<%= javascript_include_tag 'indexesJS' %>

<div class="hero reports-hero-index">
  <article class="type-system-slab">
    <div class="hero-inner">
    <a href="/welcome/auth_landing" class="hero-logo"><img src="<%= asset_path('home-icon.png') %>"></a>
      <div class="hero-copy">
        <h1 style="color:#d61579;">BoardPacks</h1>
        <p style="color:#d61579;">ProfitBees</p>  
      </div>
    </div>
  </article>
</div>

<article class="type-system-slab">
    <section class="index-display-container align-children-center">
        <div class="dropdown">
          <div class="dropdown-container">
            <p class="dropdown-description">New</p>
            <p class="dropdown-button">BoardPack</p>
            <ul class="dropdown-menu dropdown-select">
              <li>Management</li>
              <li><%= link_to 'UK-GAAP', new_report_path(format: 'UKGAAP'), remote: true, class: 'fill-parent' %></li>
              <li><%= link_to 'IFRS', new_report_path(format: 'IFRS'), remote: true, class: 'fill-parent' %></li>
            </ul>
          </div>
        </div>
    </section>
</article>

<section class="index-display-container">
  <article class="type-system-slab">
    <div class="cards">
        <% @reports.each do | boardPack | %>
           <% $randPic = rand(1..142) %>
           <a href="<%= report_path(boardPack) %>" class="card">
              <div class="card-image">
                <img src="<%= asset_path("#{$randPic}" + '.jpg') %>" alt="">
              </div>
              <div class="card-header">
                <%= truncate(boardPack.title, length: 40) %>
              </div>
              <div class="card-copy">
                <p><%= boardPack.format %></p>
                <p><%= truncate(boardPack.summary, length: 80) %></p>
              </div>
           </a>
        <% end %>
    </div>
    <!-- END OF CARDS DIV -->
  </article>
</section>

<section class="index-display-container">
  <!-- SPACING SECTION -->
</section>

<footer class="footer-indexes" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>

  <hr>
  <p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
  
</footer>

<script>

  $(document).ready(function() {
    $(".dropdown-button").click(function() {
      var $button, $menu;
      $button = $(this);
      $menu = $button.siblings(".dropdown-menu");
      $menu.toggleClass("show-menu");
      $menu.children("li").click(function() {
        $menu.removeClass("show-menu");
        $button.html($(this).html());
      });
    });
  });  
 </script>


