<!-- COMMON JS FILE FOR common SHOW AND DASH -->
<%= javascript_include_tag 'boardPacks' %>
<!-- SHOW PAGE ONLY JS -->
<%= javascript_include_tag 'bpShow' %>
<!-- EXTRACT OUT CODE AS NEEDED INTO NEW FILES -->
      <%#= javascript_include_tag 'reports' %>

<% $cp = @report.current_end.strftime("%B %Y") %>
<% $pp = @report.comparative_end.strftime("%B %Y") %>
<%= hidden_field_tag :report_id, @report.id, id: 'report-id' %>

<%= render partial:  "accordian_balance_values" %>

<article class="type-system-slab">
    <header class="show-nav" role="banner">
       <div>  
          <p><%= link_to 'Back', url_for(:back) %></p>
       </div> 
       <div>  
          <a href="/welcome/auth_landing"><img id="user-to-auth-landing" src="<%= asset_path('pb-logo.png') %>"></a>
       </div>  
       <div>  
          <p><%= link_to 'Financials', show_dashboard_report_path(@report, params) %></p>
       </div> 
    </header>
</article>

<div class="slider-action-bar">
  <img id="new-work-icon" src="<%= asset_path('new-work-icon.gif') %>">
</div>

<section class="layout-container">
  <article class="type-system-slab">

      <ul class="accordion">
          <li>
                <a href="javascript:void(0)" class="js-accordion-trigger">Report details: <span style="color:#94CFD5;"> <%= @report.title %></span></a>
                <ul class="submenu">
                  <li class="data-display">
                      <section>
                        <p><span style="color:#94CFD5;">Format:  <br></span><%= @report.format %></p>
                        <p><span style="color:#94CFD5;">Summary:  <br></span><%= @report.summary == nil ? "No summary given" : @report.summary %></p>
                        <p><span style="color:#94CFD5;">Report readers:  <br></span><%= link_to "View all",show_readers_report_path(@report), remote: true %></p>
                      </section>
                      <section>
                        <p><span style="color:#94CFD5;">Current Period:  <br></span><%= @report.current_end.strftime("%B %Y") %></p>
                        <p><span style="color:#94CFD5;">Comparative Period:  <br></span><%= @report.comparative_end.strftime("%B %Y") %></p>
                        <p><span style="color:#94CFD5;">Report Owner:  <br></span><%= User.find(@report.user_id).email %></p>
                        <p><%= link_to "Edit Settings", edit_report_path(@report), remote: true %></p>
                      </section>
                  </li>
                </ul>
            <!-- END OF GRAPH DATA -->
          </li>
          <!-- END OF GRAPH DATA -->
      </ul>
        <!-- END OF ACCORDIAN CONTAINRE -->
  </article>
</section>

<section class="layout-container">
  <article class="type-system-slab">
        <div class="scroll-on-page">
              <aside id="scroll-on-page-top">
                <a class="scroll-on-page-link" href="#insights">Insights</a>
                <a class="scroll-on-page-link" href="#notes">Notes</a>
                <a class="scroll-on-page-link" href="#comments">Comments</a>
              </aside>
              <article>
                  <section>
                    <h4 id="insights">Insights</h4>
                    <br>
                    <!-- ONLY ONE SHOWING... ONLY CLICK INTO MODAL -->
                          <div class="comment">
                                <div class="comment-image">
                                  <img src="<%= asset_path('ico4b.png') %>">
                                </div>
                                <div class="comment-content">
                                  <h1>Coming Soon</h1>
                                  <p>We are writing Javascript algorthims that will automatically generate thoughts for users to consider, by running variance analysis on the current end and comparative end period.  This helps financial control.</p>
                                  <p class="comment-detail">Date or details about this post</p>
                                </div>
                          </div>
                  </section>
                  <section>
                    <h4 id="notes">Notes</h4>
                    <br>
                     <!-- ONLY ONE SHOWING... ONLY CLICK INTO MODAL -->
                          <div class="comment">
                                <div class="comment-image">
                                  <img src="<%= asset_path('pb-logo.png') %>">
                                </div>
                                <div class="comment-content">
                                  <h1><%= ((@report.notes.blank?)? "No Notes" : @report.notes.first.commenter)%>
                                  </h1>
                                  <p><%= ((@report.comments.blank?)? "No Notes" : @report.notes.first.body)%></p>
                                  <p class="comment-detail"><%= ((@report.comments.blank?)? "No Notes" : time_ago_in_words(@report.notes.first.updated_at)) %> ago</p>
                                  <p class="comment-detail">
                                  <a href="#" onclick="getNotes();">View All</a>
                                </p>
                                </div>
                          </div>

                  </section>
                  <section>
                          <!-- ONLY ONE SHOWING... ONLY CLICK INTO MODAL -->
                          <h4 id="comments">Comments</h4>
                          <br>
                          <div class="comment">
                                <div class="comment-image">
                                  <img src="<%= asset_path('pb-logo.png') %>">
                                </div>
                                <div class="comment-content">
                                  <h1><%= ((@report.comments.blank?)? "No Comments" : @report.comments.first.commenter)%></h1>
                                  <p><%= ((@report.comments.blank?)? "No Comments" : @report.comments.first.body)%></p>
                                  <p class="comment-detail"><%= ((@report.comments.blank?)? "No Notes" : time_ago_in_words(@report.comments.first.updated_at)) %> ago</p>
                                  <p class="comment-detail">
                                  <a href="#" onclick="getComments();">View All</a>
                                </p>
                                </div>
                                
                          </div>
                    </section>
                </article>
                <!-- WRAPPER ARTICLE -->
          </div>
          <!-- END OF SCROLL -->
    </article>
</section>

<section class="layout-container">
  <article class="type-system-slab">
      <div class="graph-container">
          <aside>
            <a onclick="reportShowHelper.goTo('toBar')" href="javascript:void(0);">
              <img src="<%= asset_path('bar-chart-button.png') %>">
            </a>
          </aside>
          <div id="cp-pie-chart"></div>
          <div id="pp-pie-chart"></div>
      </div>
    </article>
</section>

<section class="layout-container">
  <article class="type-system-slab">
      <div class="graph-container">
          <div id="show-page-bar-chart"></div>
      </div>
    </article>
</section>

<section class="layout-container">
  <article class="type-system-slab">
        
        <ul class="accordion">
           <li>
            <a href="javascript:void(0)" class="js-accordion-trigger">Data by description</a>
            <ul class="submenu">
              <li class="data-display">
                <section>
                    <p><a href="javascript:void(0)">Current Year</a></p>
                    <table id="" class="table-minimal">
                         <thead>
                            <tr style="color:#94CFD5;">
                                <th>Date</th>
                                <th>your Tag</th>
                                <th>Amount</th>
                            </tr>
                         </thead>
                         <tbody>
                            <% data = @data[:description][:cp] %>
                                  <% data.each_pair do | key, amount | %>
                                      <!-- PIE CHART DOESNT ACCEPT NEGATIVES -->
                                      <% if !key %>
                                        <tr>
                                            <td><%= @report.current_end.strftime("%B %Y") %></td>
                                            <td>Oops - check values</td>
                                            <td>Oops</td>
                                        </tr>
                                      <% else %>
                                          <tr>
                                            <td><%= @report.current_end.strftime("%B %Y") %></td>
                                            <td><%= key %></td>
                                            <td class="display-action" data-description="<%= key %>" onclick="reportShowHelper.loadValuesByDescription(this, 'current')"><%= number_with_delimiter(amount.to_i) %></td>
                                          </tr>
                                      <% end %>
                            <% end %>
                        </tbody>
                    </table>
                    <!-- END OF BS TABLE -->
                </section>
                <section>
                    <p><a href="javascript:void(0)">Prior Year</a></p>
                    <table id="" class="table-minimal">
                         <thead>
                            <tr style="color:#94CFD5;">
                                <th>Date</th>
                                <th>your Tag</th>
                                <th>Amount</th>
                            </tr>
                         </thead>
                         <tbody>
                          <% data = @data[:description][:pp] %>
                               <% data.each_pair do | key, amount | %>
                                    <!-- PIE CHART DOESNT ACCEPT NEGATIVES -->
                                    <% if !key %>
                                      <tr>
                                          <td><%= @report.current_end.strftime("%B %Y") %></td>
                                          <td>Oops - check values</td>
                                          <td>Oops</td>
                                      </tr>
                                    <% else %>
                                        <tr>
                                          <td><%= @report.comparative_end.strftime("%B %Y") %></td>
                                          <td><%= key %></td>
                                          <td class="display-action" data-description="<%= key %>" onclick="reportShowHelper.loadValuesByDescription(this, 'comparative')"><%= number_with_delimiter(amount.to_i) %></td>
                                        </tr>
                                    <% end %>
                          <% end %>
                        </tbody>
                    </table>
                    <!-- END OF BS TABLE -->
                </section>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)" class="js-accordion-trigger">Graph Data</a>
            <ul class="submenu">
              <li class="data-display">
                <section>
                    <p><a href="javascript:void(0)">Current Year</a></p>
                    <table id="" class="table-minimal">
                         <thead>
                            <tr style="color:#94CFD5;">
                                <th>Date</th>
                                <th>your Tag</th>
                                <th>Amount</th>
                            </tr>
                         </thead>
                         <tbody>
                                  <!-- FOR PIE CHARTs DATA ANALYSIS -->
                                  <% data = @data[:mitag_summary][:cp] %>
                                  <% data.each_pair do | key, amount | %>
                                        <!-- PIE CHART DOESNT ACCEPT NEGATIVES -->
                                        <tr class="cy-graph-rep-lines" data-key="<%= key.gsub("&"){'and'} %>" data-amount="<%= amount.to_i.abs %>">
                                          <td><%= @report.current_end.strftime("%B %Y") %></td>
                                          <td><%= key %></td>
                                          <td class="display-action" onclick="reportShowHelper.loadValuesByMiTag(this, 'tb', 'current')" data-mitag="<%= key.gsub(" ", "-") %>"><%= number_with_delimiter(amount.to_i) %></td>
                                        </tr>
                                  <% end %>
                        </tbody>
                    </table>
                    <!-- END OF BS TABLE -->
                </section>
                <section>
                    <p><a href="javascript:void(0)">Prior Year</a></p>
                    <table id="" class="table-minimal">
                         <thead>
                            <tr style="color:#94CFD5;">
                                <th>Date</th>
                                <th>your Tag</th>
                                <th>Amount</th>
                            </tr>
                         </thead>
                         <tbody>
                                    <!-- FOR PIE CHARTs DATA ANALYSIS -->
                                    <% data = @data[:mitag_summary][:pp] %>
                                    <% data.each_pair do | key, amount | %>
                                          <tr class="pp-graph-rep-lines" data-key="<%= key.gsub("&"){'and'} %>" data-amount="<%= amount.to_i.abs %>">
                                            <td><%= @report.comparative_end.strftime("%B %Y") %></td>
                                            <td><%= key %></td>
                                            <td class="display-action" onclick="reportShowHelper.loadValuesByMiTag(this, 'tb', 'comparative')" data-mitag="<%= key.gsub(" ", "-") %>"><%= number_with_delimiter(amount.to_i) %></td>
                                          </tr>
                                    <% end %>
                        </tbody>
                    </table>
                    <!-- END OF BS TABLE -->
                </section>
              </li>
            </ul>
            <!-- END OF GRAPH DATA -->
          </li>
          <!-- END OF GRAPH DATA -->
        </ul>
        <!-- END OF ACCORDIAN CONTAINRE -->
    </article>
</section>


<section class="layout-container">
  <article class="type-system-slab">
        
        <ul class="accordion">
           <li>
            <a href="javascript:void(0)" class="js-accordion-trigger">Journals</a>
            <ul class="submenu">
              <li class="data-display">
                  <section>
                    <p><a href="javascript:void(0)">Current Year</a></p>
                    <table id="" class="table-minimal">
                         <thead>
                            <tr style="color:#94CFD5;">
                                <th>Date</th>
                                <th>your Tag</th>
                                <th>Amount</th>
                            </tr>
                         </thead>
                         <tbody>
                             <% data = @data[:description][:cp_etb] %>
                             <% data.each_pair do | key, amount | %>
                                    <!-- PIE CHART DOESNT ACCEPT NEGATIVES -->
                                    <tr>
                                      <td><%= @report.current_end.strftime("%B %Y") %></td>
                                      <td><%= key %></td>
                                      <td class="display-action" onclick="reportShowHelper.loadJournalValues(this, 'current')" data-description="<%= key %>"><%= number_with_delimiter(amount.to_i) %></td>
                                    </tr>
                              <% end %>
                        </tbody>
                    </table>
                    <!-- END OF BS TABLE -->
                  </section>
                  <section>
                    <p><a href="javascript:void(0)">Prior Year</a></p>
                    <table id="" class="table-minimal">
                         <thead>
                            <tr style="color:#94CFD5;">
                                <th>Date</th>
                                <th>your Tag</th>
                                <th>Amount</th>
                            </tr>
                         </thead>
                         <tbody>
                             <% data = @data[:description][:pp_etb] %>
                             <% data.each_pair do | key, amount | %>
                                    <!-- PIE CHART DOESNT ACCEPT NEGATIVES -->
                                    <tr>
                                      <td><%= @report.comparative_end.strftime("%B %Y") %></td>
                                      <td><%= key %></td>
                                      <td class="display-action" onclick="reportShowHelper.loadJournalValues(this, 'comparative')" data-description="<%= key %>"><%= number_with_delimiter(amount.to_i) %></td>
                                    </tr>
                              <% end %>
                        </tbody>
                    </table>
                    <!-- END OF BS TABLE -->
                  </section>

              </li>
            </ul>
          </li>
          
        </ul>
        <!-- END OF ACCORDIAN CONTAINRE -->
    </article>
</section>


<section class="layout-container">
  <article class="type-system-slab">

        <div class="grid-items">
          <%if (current_user.uid.include? "Office365")%>
            <a href="javascript:void(0)" class="grid-item" onclick="getUserCircles();">
          <%else%>
            <a href="javascript:void(0)" class="grid-item" onclick="UserOptions();">
          <%end%>
            <img src="<%= asset_path('user-share.png') %>" alt="">
            <h1>User Share</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <%= link_to export_form_report_path(@report),:remote=> true,:class=>"grid-item" do%>
            <img src="<%= asset_path('export-arrow.png') %>" alt="">
            <h1>Export New</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          <%end%>

          <%= link_to report_manager_report_path(@report),:class=>"grid-item" do%>
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Values Manager</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          <%end%>
          <%= link_to manager_report_notes_path(@report),:class=>"grid-item" do%>
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Notes Manager</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          <%end%>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
            <h1>Disclosure Manager</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <%= link_to manager_report_comments_path(@report),:class=>"grid-item" do%>
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
            <h1>Comments Manager</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          <%end%>
        </div>

    </article>
</section>


<section class="layout-container">
  <article class="type-system-slab">
      <ul class="accordion-tabs-minimal">
        <li class="tab-header-and-content">
          <a href="#" class="tab-link is-active">Global</a>
          <div class="tab-content">
                  <% @report.disclosures.each do |disclosure| %>
                      <%= render partial: 'report_disclosures', locals: { disclosure: disclosure } %>
                  <% end %>
          </div>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Directors</a>
          <div class="tab-content">
            <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate. Aenean fringilla massa vitae metus facilisis congue. Morbi placerat eros ac sapien semper pulvinar. Vestibulum facilisis, ligula a molestie venenatis, metus justo ullamcorper ipsum, congue aliquet dolor tortor eu neque. Sed imperdiet, nibh ut vestibulum tempor, nibh dui volutpat lacus, vel gravida magna justo sit amet quam. Quisque tincidunt ligula at nisl imperdiet sagittis. Morbi rutrum tempor arcu, non ultrices sem semper a. Aliquam quis sem mi.</p>
          </div>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Profit and Loss</a>
          <div class="tab-content">
            <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>    
          </div>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Balance Sheet</a>
          <div class="tab-content">
            <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna.</p>
          </div>
        </li>
      </ul>

   </article>
</section>

<article class="type-system-slab">
    <header class="show-nav" role="banner">
       <div>  
          <p><%= link_to 'Back', url_for(:back) %></p>
       </div> 
       <div>  
          <a href="/welcome/auth_landing"><img id="user-to-auth-landing" src="<%= asset_path('pb-logo.png') %>"></a>
       </div>  
       <div>  
          <p><%= link_to 'Financials', show_dashboard_report_path(@report, params) %></p>
       </div> 
    </header>
</article>

<aside id="hidden-buttons-for-bar"> 
  <%= link_to new_value_reports_path(report_id: @report.id, tb_value: true), remote: true, id: 'new_value_link' do%>
  <!-- Need to change image -->
    <img src="<%= asset_path('new-bp-val.png') %>">
  <%end%> 
  <%= link_to  new_journal_report_path(@report), remote: true do%>
  <!-- Need to change image -->
    <img src="<%= asset_path('new-bp-jnl.png') %>">
  <%end%>
  <%= link_to import_csv_report_path(@report, {bank: false}), remote: true  do%>
  <!-- Need to change image -->
    <img src="<%= asset_path('new-bp-csv.png') %>">
  <%end%> 
</aside>

<script type="text/javascript">

  var getComments= function(){
    $('#bg-screen-for-modal').addClass('open')
    $('#bg-screen-for-modal').find('section').empty().append("<%= j(render partial: 'report_comments') %>") 
    cacheComments('<%= @report.id %>');
  }
  var getNotes= function(){
    $('#bg-screen-for-modal').addClass('open')
    $('#bg-screen-for-modal').find('section').empty().append("<%= j(render partial: 'report_notes') %>") 
    cacheNotes('<%= @report.id %>');
  }

  var friendsListAutocomplete = function(friends_id){
  $(friends_id).autocomplete({
    minLength: 0,
    source: function(request, response) {
      commonAutocomplete(request,friends_id)
    }
  });
}

  var UserOptions = function(){
    $('#bg-screen-for-modal').addClass('open')
    var input ='<%= button_tag "Share with Google", class: "btn btn-alert", :onclick=>"googleUserCircles()"%> <br/> OR <br/><%= button_tag "Share with Profit Bees", class: "btn btn-info", :onclick=>"getUserCircles()"%>'
    $('#bg-screen-for-modal').find('section').empty().append(input)
  }
  // DB look up
  var getUserCircles= function(){
    <% placeholder= (current_user.uid.include? "Office365")? "Enter email" : "Enter name"%>
    $('#bg-screen-for-modal').addClass('open')
    var input ='<%= text_field_tag "friends_list","", class: "form-control", "data-autocompleteUrl" => autocomplete_friends_list_reports_path,:placeholder=>"#{placeholder}"%><br/> <table id="friends">'
    $('#bg-screen-for-modal').find('section').empty().append(input) 
    friendsListAutocomplete('#friends_list');
    intializeList('#friends_list');   
  }

// Google list
  var googleUserCircles= function(){
    
    $('#bg-screen-for-modal').addClass('open')
    var input ='<%= text_field_tag "google_friends_list","", class: "form-control", "data-autocompleteUrl" => autocomplete_google_list_reports_path,:placeholder=>"Enter name"%><br/> <table id="friends">'
    $('#bg-screen-for-modal').find('section').empty().append(input) 
    friendsListAutocomplete('#google_friends_list');
    intializeList("#google_friends_list");   
  }
  
</script>

<!-- overriding css -->
<style type="text/css">
  #bg-screen-for-modal{
    top: -1px !important;
  }
</style>


