<%= javascript_include_tag 'boardPacks' %>
<%= javascript_include_tag 'reports' %>

<%= hidden_field_tag :report_id, @report.id, id: 'report-id' %>

<article class="type-system-slab">
    <header class="show-nav" role="banner">
       <div>  
          <p><%= link_to 'Back', url_for(:back) %></p>
       </div> 
       <div>  
          <a href="/welcome/auth_landing"><img id="user-to-auth-landing" src="<%= asset_path('pb-logo.png') %>"></a>
       </div>  
       <div>  
          <p><%= link_to 'Financials', show_dashboard_report_path(@report, params) %></p>
       </div> 
    </header>
</article>

<img id="add-info-bp" src="<%= asset_path('new-work-icon.png') %>">

<section class="layout-container">
  <article class="type-system-slab">
        <div class="scroll-on-page">
              <aside id="scroll-on-page-top">
                <a class="scroll-on-page-link" href="#insights">Insights</a>
                <a class="scroll-on-page-link" href="#notes">Notes</a>
                <a class="scroll-on-page-link" href="#comments">Comments</a>
              </aside>
              <article>
                  <section>
                    <h4 id="insights">Insights</h4>
                    <br>
                    <!-- ONLY ONE SHOWING... ONLY CLICK INTO MODAL -->
                          <div class="comment">
                                <div class="comment-image">
                                  <img src="<%= asset_path('ico4b.png') %>">
                                </div>
                                <div class="comment-content">
                                  <h1>First Comment Title or Author</h1>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
                                  <p class="comment-detail">Date or details about this post</p>
                                </div>
                          </div>
                  </section>
                  <section>
                    <h4 id="notes">Notes</h4>
                    <br>
                     <!-- ONLY ONE SHOWING... ONLY CLICK INTO MODAL -->
                          <div class="comment">
                                <div class="comment-image">
                                  <img src="<%= asset_path('pb-logo.png') %>">
                                </div>
                                <div class="comment-content">
                                  <h1>First Comment Title or Author</h1>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
                                  <p class="comment-detail">Date or details about this post</p>
                                  <p class="comment-detail">
                                  <a href="#" onclick="getNotes();">View All</a>
                                </p>
                                </div>
                          </div>

                  </section>
                  <section>
                          <!-- ONLY ONE SHOWING... ONLY CLICK INTO MODAL -->
                          <h4 id="comments">Comments</h4>
                          <br>
                          <div class="comment">
                                <div class="comment-image">
                                  <img src="<%= asset_path('pb-logo.png') %>">
                                </div>
                                <div class="comment-content">
                                  <h1>First Comment Title or Author</h1>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
                                  <p class="comment-detail">Date or details about this post</p>
                                  <p class="comment-detail">
                                  <a href="#" onclick="getComments();">View All</a>
                                </p>
                                </div>
                                
                          </div>
                    </section>
                </article>
                <!-- WRAPPER ARTICLE -->
          </div>
          <!-- END OF SCROLL -->
    </article>
</section>


<section class="layout-container">
  <article class="type-system-slab">
      <div class="graph-container">
          <aside>
            <a href="javascript:void(0);">
              <img src="<%= asset_path('bar-chart-button.png') %>">
            </a>
          </aside>
          <div id="cp-pie-chart"></div>
          <div id="pp-pie-chart"></div>

      </div>
    </article>
</section>


<section class="layout-container">
  <article class="type-system-slab">
        
        <ul class="accordion">
           <li>
            <a href="javascript:void(0)" class="js-accordion-trigger">Data by description</a>
            <ul class="submenu">
              <li>
                <a href="javascript:void(0)">Current Year</a>
                   <table id="" class="table-minimal">
                    <thead>
                      <tr style="color:#94CFD5;">
                        <th>Date</th>
                        <th>Description</th>
                        <th>£</th>
                      </tr>
                    </thead>
                    <tbody>

                          <% data = @data[:description][:cp] %>
                                <% data.each_pair do | key, amount | %>
                                    <!-- PIE CHART DOESNT ACCEPT NEGATIVES -->
                                    <% if !key %>
                                      <tr>
                                          <td><%= @report.current_end.strftime("%B %Y") %></td>
                                          <td>Oops - check values</td>
                                          <td>Oops</td>
                                      </tr>
                                    <% else %>
                                        <tr>
                                          <td><%= @report.current_end.strftime("%B %Y") %></td>
                                          <td><%= key %></td>
                                          <td class="display-action" data-description="<%= key %>" onclick="reportHelper.loadValuesByDescription(this, 'current')"><%= number_with_delimiter(amount.to_i) %></td>
                                        </tr>
                                    <% end %>
                          <% end %>

                      </tbody>
                  </table>
              </li>
              <li>
                <a href="javascript:void(0)">Prior Year</a>

                   <table id="" class="table-minimal">
                    <thead>
                      <tr style="color:#94CFD5;">
                        <th>Date</th>
                        <th>Description</th>
                        <th>£</th>
                      </tr>
                    </thead>
                    <tbody>

                          <% data = @data[:description][:pp] %>
                          <% data.each_pair do | key, amount | %>
                                    <!-- PIE CHART DOESNT ACCEPT NEGATIVES -->
                                    <% if !key %>
                                      <tr>
                                          <td><%= @report.current_end.strftime("%B %Y") %></td>
                                          <td>Oops - check values</td>
                                          <td>Oops</td>
                                      </tr>
                                    <% else %>
                                        <tr>
                                          <td><%= @report.current_end.strftime("%B %Y") %></td>
                                          <td><%= key %></td>
                                          <td class="display-action" data-description="<%= key %>" onclick="reportHelper.loadValuesByDescription(this, 'current')"><%= number_with_delimiter(amount.to_i) %></td>
                                        </tr>
                                    <% end %>
                          <% end %>

                      </tbody>
                  </table>

              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)" class="js-accordion-trigger">Graph Data</a>
            <ul class="submenu">
              <li>
                <a href="javascript:void(0)">Current Year</a>
                      <table class="table-minimal">
                              <thead>
                                <tr>
                                  <th>Date</th>
                                  <th>your Tag</th>
                                  <th>Amount</th>
                                </tr>
                              </thead>
                              <tbody>
                                  <!-- FOR PIE CHARTs DATA ANALYSIS -->
                                  <% data = @data[:mitag_summary][:cp] %>
                                  <% data.each_pair do | key, amount | %>
                                        <!-- PIE CHART DOESNT ACCEPT NEGATIVES -->
                                        <tr class="cy-graph-rep-lines" data-key="<%= key.gsub("&"){'and'} %>" data-amount="<%= amount.to_i.abs %>">
                                          <td><%= @report.comparative_end.strftime("%B %Y") %></td>
                                          <td><%= key %></td>
                                          <td class="display-action" onclick="reportHelper.loadValuesByMiTag(this, 'tb', 'current')" data-mitag="<%= key.gsub(" ", "-") %>"><%= number_with_delimiter(amount.to_i) %></td>
                                        </tr>
                                  <% end %>
                              </tbody>
                      </table>
              </li>
              <li>
                <a href="javascript:void(0)">Prior year</a>

                      <table class="table-minimal">
                              <thead>
                                <tr>
                                  <th>Date</th>
                                  <th>your Tag</th>
                                  <th>Amount</th>
                                </tr>
                              </thead>
                              <tbody>
                                    <!-- FOR PIE CHARTs DATA ANALYSIS -->
                                    <% data = @data[:mitag_summary][:pp] %>
                                    <% data.each_pair do | key, amount | %>
                                          <tr class="pp-graph-rep-lines" data-key="<%= key.gsub("&"){'and'} %>" data-amount="<%= amount.to_i.abs %>">
                                            <td><%= @report.comparative_end.strftime("%B %Y") %></td>
                                            <td><%= key %></td>
                                            <td class="display-action" onclick="reportHelper.loadValuesByMiTag(this, 'tb', 'comparative')" data-mitag="<%= key.gsub(" ", "-") %>"><%= number_with_delimiter(amount.to_i) %></td>
                                          </tr>
                                    <% end %>
                              </tbody>
                      </table>
              </li>
            </ul>
            <!-- END OF GRAPH DATA -->
          </li>
          <!-- END OF GRAPH DATA -->
        </ul>
        <!-- END OF ACCORDIAN CONTAINRE -->
    </article>
</section>


<section class="layout-container">
  <article class="type-system-slab">

        <div class="grid-items">
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
            <h1>User Share</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Export New</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Values Manager</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Notes Manager</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
            <h1>Disclosure Manager</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
          <a href="javascript:void(0)" class="grid-item">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
            <h1>Comments Manager</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
          </a>
        </div>

    </article>
</section>


<section class="layout-container">
  <article class="type-system-slab">
      <ul class="accordion-tabs-minimal">
        <li class="tab-header-and-content">
          <a href="#" class="tab-link is-active">Global</a>
          <div class="tab-content">
                  <% @report.disclosures.each do |disclosure| %>
                      <%= render partial: 'report_disclosures', locals: { disclosure: disclosure } %>
                  <% end %>
          </div>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Directors</a>
          <div class="tab-content">
            <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate. Aenean fringilla massa vitae metus facilisis congue. Morbi placerat eros ac sapien semper pulvinar. Vestibulum facilisis, ligula a molestie venenatis, metus justo ullamcorper ipsum, congue aliquet dolor tortor eu neque. Sed imperdiet, nibh ut vestibulum tempor, nibh dui volutpat lacus, vel gravida magna justo sit amet quam. Quisque tincidunt ligula at nisl imperdiet sagittis. Morbi rutrum tempor arcu, non ultrices sem semper a. Aliquam quis sem mi.</p>
          </div>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Profit and Loss</a>
          <div class="tab-content">
            <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>    
          </div>
        </li>
        <li class="tab-header-and-content">
          <a href="#" class="tab-link">Balance Sheet</a>
          <div class="tab-content">
            <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna.</p>
          </div>
        </li>
      </ul>

   </article>
</section>

<script type="text/javascript">
  var getComments= function(){
    $('#bg-screen-for-modal').addClass('open')
    $('#bg-screen-for-modal').find('section').empty().append("<%= j(render partial: 'reports_comments') %>") 

  }
  var getNotes= function(){
    $('#bg-screen-for-modal').addClass('open')
    $('#bg-screen-for-modal').find('section').empty().append("<%= j(render partial: 'reports_notes') %>") 

  }
</script>

<!-- overriding css -->
<style type="text/css">
  #bg-screen-for-modal{
    top: -1px !important;
  }
</style>