
<% $report_format = @report.format %>

<% @retained_earnings = {} %>

<% $cp = @report.current_end.strftime("%B %Y") %>
<% $pp = @report.comparative_end.strftime("%B %Y") %>

<article class="type-system-slab">
    <header class="show-nav" role="banner">
         <div>  
            <p><%= link_to 'Back', report_path(@report) %></p>
         </div> 
         <div>  
            <a href="/welcome/auth_landing"><img id="user-to-auth-landing" src="<%= asset_path('pb-logo.png') %>"></a>
         </div>  
         <div>  
            <p><a href="javascript:void(0)" onclick="ifrsDashShow.exportDashGoogle();"> Export </a></p>
         </div> 
    </header>
</article>

<section class="layout-container">
  <article class="type-system-slab">
        <h2 style="color:#FB7D98;">Business Performance</h2> 
        <ul class="accordion">
          <li>
            <a href="javascript:void(0)" class="js-accordion-trigger">Graphic Analysis</a>
            <ul class="submenu">
              <li>
                <a href="javascript:void(0)">Performance Analysis [ Current vs Prior Period ]</a>
                <div class="graph-container">
                </div>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)" class="js-accordion-trigger">Collaboration and Control</a>
            <ul class="submenu">
              <li>
                <a href="javascript:void(0)">Feed</a>
                
                <div class="scroll-on-page">
                    <aside id="scroll-on-page-top">
                      <a class="scroll-on-page-link" href="#insights">Insights</a>
                      <a class="scroll-on-page-link" href="#notes">Notes</a>
                      <a class="scroll-on-page-link" href="#comments">Comments</a>
                    </aside>
                    <article>
                        <section>
                          <h4 id="insights">Insights</h4>
                          <br>
                        </section>
                        <section>
                          <h4 id="notes">Notes</h4>
                          <br>
                           <!-- ONLY ONE SHOWING... ONLY CLICK INTO MODAL -->
                                <div class="comment">
                                      <div class="comment-image">
                                        <img src="<%= asset_path('pb-logo.png') %>">
                                      </div>
                                      <div class="comment-content">
                                        <h1>First Comment Title or Author</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
                                        <p class="comment-detail">Date or details about this post</p>
                                      </div>
                                </div>

                        </section>
                        <section>
                                <!-- ONLY ONE SHOWING... ONLY CLICK INTO MODAL -->
                                <h4 id="comments">Comments</h4>
                                <br>
                                <div class="comment">
                                      <div class="comment-image">
                                        <img src="<%= asset_path('pb-logo.png') %>">
                                      </div>
                                      <div class="comment-content">
                                        <h1>First Comment Title or Author</h1>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
                                        <p class="comment-detail">Date or details about this post</p>
                                      </div>
                                </div>
                          </section>
                      </article>
                      <!-- WRAPPER ARTICLE -->
                </div>
                <!-- END OF SCROLLONPAGE -->
              </li>
              <!-- END OF SUBMENU -->
            </ul>
          </li>
        </ul>
        <!-- END OF ACCORDIAN CONTAINER -->
    </article>
</section>

<% if $report_format == 'IFRS' %>
      
      <!-- IFRS MAPPING FINANICAL AND REPORTING MASTERLIST/CONTROL -->
      <% @tags = Tag.ifrs_fin_stat_tags %>
      <!-- USED IN FSDRAWCHARTS -->
      <span id="dash-report-format" data-value="IFRS"></span>
      
      <section class="layout-container">
        <article class="type-system-slab">
              <%= render partial: 'reports/ifrs/p_n_l' %>
        </article>
      </section>

      <section class="layout-container">
        <article class="type-system-slab">
              <%= render partial: 'reports/ifrs/assets' %>
        </article>
      </section>

      <section class="layout-container">
        <article class="type-system-slab">
              <%= render partial: 'reports/ifrs/liabilities' %>
        </article>
      </section>

      <section class="layout-container">
        <article class="type-system-slab">
              <%= render partial: 'reports/ifrs/equity' %>
        </article>
      </section>

<% end %>

<script>
    
(function (jQuery) {
  jQuery.mark = {
    jump: function (options) {
      var defaults = {
        selector: 'a.scroll-on-page-link'
      };
      if (typeof options == 'string') {
        defaults.selector = options;
      }

      options = jQuery.extend(defaults, options);
      return jQuery(options.selector).click(function (e) {
        var jumpobj = jQuery(this);
        var target = jumpobj.attr('href');
        var thespeed = 1000;
        var offset = jQuery(target).offset().top;
        jQuery('html,body').animate({
          scrollTop: offset
        }, thespeed, 'swing');
        e.preventDefault();
      });
    }
  };
})(jQuery);

$(document).on('page:load ready', function(){
  
    jQuery(function(){  
      jQuery.mark.jump();
    });

    $('.accordion-tabs-minimal').each(function(index) {
      $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
    });
    $('.accordion-tabs-minimal').on('click', 'li > a.tab-link', function(event) {
      if (!$(this).hasClass('is-active')) {
        event.preventDefault();
        var accordionTabs = $(this).closest('.accordion-tabs-minimal');
        accordionTabs.find('.is-open').removeClass('is-open').hide();

        $(this).next().toggleClass('is-open').toggle();
        accordionTabs.find('.is-active').removeClass('is-active');
        $(this).addClass('is-active');
      } else {
        event.preventDefault();
      }
    });

    $('.js-accordion-trigger').bind('click', function(e){
      jQuery(this).parent().find('.submenu').slideToggle('fast');  // apply the toggle to the ul
      jQuery(this).parent().toggleClass('is-expanded');
      e.preventDefault();
    });


})


</script>


