
<% $cos_tags = Tag.gaap_fin_stat_tags[:gp_cos] %>

<% $user_added_rows_already = 0 %>
<% $total = [] %>

<section class="layout-container" id="cost-sales-container">
  <article class="type-system-slab">

      <ul class="accordion">
          <li>
                <a href="javascript:void(0)" class="js-accordion-trigger">Costs ( Directly related to sales ) <span class="lovely-blue">[inc-VAT]</span> :</a>
                <ul class="submenu">
                  <li class="">
                        <table id="" class="table-minimal">
                             <thead>
                                  <tr class="lovely-pink">
                                      <%= render 'input_table_headers' %>
                                  </tr>
                             </thead>
                             <tbody id="cos-inc-vat">
                                  <% unless @purchase_transactions.blank? %>
                                     <%= render :partial=>'sales_revenue',:locals=>{:@transactions=>@purchase_transactions} %>
                                  <% end %>
                                  <% $cos_tags.each do |tag| %>
                                    <!-- selector tag for caching data with mapping -->
                                    <tr data-pb-tag="<%= tag %>" data-pb-type="Credit">
                                        <td><input type="text" name="transaction[description]" placeholder="Add <%= tag %>"></td>
                                        <% $no_of_columns.times do |row| %>
                                            <%= user_input_cell %>
                                        <% end %>
                                        <td></td>
                                    </tr>
                                  <% end %>
                                  <!-- SAVE BUTTON -->
                                  <tr>
                                      <td id="save-cos-inc-vat" class="button-style"><%= submit_tag 'Save Details' %></td>
                                      <% $no_of_columns.times do |row| %>
                                          <td></td>
                                      <% end %>
                                      <td></td>
                                  </tr>
                            </tbody>
                        </table>
                        <!-- END OF BS TABLE -->
                  </li>
                </ul>
            <!-- END OF GRAPH DATA -->
          </li>
          <li>
                <a href="javascript:void(0)" class="js-accordion-trigger">Costs ( Directly related to sales ) <span class="lovely-blue">[ex-VAT]</span> :</a>
                <ul class="submenu">
                  <li class="">
                          
                          <table class="table-minimal">
                             <thead>
                                  <tr class="lovely-pink">
                                      <%= render 'input_table_headers' %>
                                  </tr>
                             </thead>
                             <tbody id="cos-exc-vat">
                                  <% $cos_tags.each do |tag| %>
                                    <!-- selector tag for caching data with mapping -->
                                    <tr data-pb-tag="<%= tag %>" data-pb-type="Credit">
                                        <td><input type="text" name="transaction[description]" placeholder="Add <%= tag %>"></td>
                                        <% $no_of_columns.times do |row| %>
                                            <%= user_input_cell %>
                                        <% end %>
                                        <td></td>
                                    </tr>
                                  <% end %>
                                  <!-- SAVE BUTTON -->
                                  <tr>
                                      <td id="save-cos-exc-vat" class="button-style"><%= submit_tag 'Save Details' %></td>
                                      <% $no_of_columns.times do |row| %>
                                          <td></td>
                                      <% end %>
                                      <td></td>
                                  </tr>
                            </tbody>
                        </table>
                        <!-- END OF BS TABLE -->
                  </li>
                </ul>
            <!-- END OF GRAPH DATA -->
          </li>
      </ul>
        <!-- END OF ACCORDIAN CONTAINRE -->
  </article>
</section>
<!-- TOTAL COST of Sale TABLE -->
<section class="layout-container">
  <article class="type-system-slab">
      <table id="cost_total" class="table-minimal">
             <tbody>
                <thead>
                      <tr class="lovely-pink">
                          <%= render 'input_table_headers' %>
                      </tr>
                 </thead>
                 <tbody>
                        <tr>
                            <td>
                              Total Cash Out
                            </td>
                            <%$summary_total_out = $total%>
                            <% $total.each do |total| %>
                                <td><input type="text" name="transaction[amount]" class="user-input-total" value="<%= total.to_f%>"></td>        
                            <% end %>
                            <td><%= $total.inject(0, :+) %></td>
                        </tr>
                 </tbody>
            </tbody>
        </table>
        <!-- END OF BS TABLE -->
  </article>
</section>