<tbody id="cos-inc-vat">

       <% $cos_tags.each do |tag| %>
          <% trns = $cf_view_service.group_trns_by_mi(tag) %>
          <% next if trns.blank? %>
          <%= render partial: 'saved_transactions', locals: {:@transactions=> trns, :@sub_totals => $cos_sub_totals } %>
       <% end %>


      <% $cos_tags.each do |tag| %>
          <!-- selector tag for caching data with mapping -->
          <tr data-pb-tag="<%= tag %>" data-pb-type="Credit">
              <td><input type="text" name="transaction[description]" placeholder="Add <%= tag %>"></td>
              <% $no_of_columns.times do |row| %>
                  <%= user_input_cell %>
              <% end %>
              <td>0</td>
          </tr>
      <% end %>
      <!-- SAVE BUTTON -->
      <tr>
          <td id="save-cos-inc-vat" class="button-style"><%= submit_tag 'Save Details' %></td>
          <td><%= link_to "Export", export_transactions_to_csv_cash_flow_ledger_path(@ledger, tags: $cos_tags),remote: true, data: { :confirm => 'Any changes not saved are not included in the export' } %>
            </td>
            <% ( $no_of_columns - 1 ).times do |row| %>
                <td></td>
            <% end %>
          <td></td>
      </tr>

</tbody>