
<% $cos_tags = Tag.gaap_fin_stat_tags[:gp_cos] %>

<% $user_added_rows_already = 0 %>

<section class="layout-container" id="cost-sales-container">
  <article class="type-system-slab">

      <ul class="accordion">
          <li>
                <a href="javascript:void(0)" class="js-accordion-trigger">Costs ( Directly related to sales ) <span class="lovely-blue">[inc-VAT]</span> :</a>
                <ul class="submenu">
                  <li class="">
                        <table id="" class="table-minimal">
                             <thead>
                                  <tr class="lovely-pink">
                                      <%= render 'input_table_headers' %>
                                  </tr>
                             </thead>
                             <%= render 'cost_of_sale_inc_vat_body' %>
                        </table>
                        <!-- END OF BS TABLE -->
                  </li>
                </ul>
            <!-- END OF GRAPH DATA -->
          </li>
          <li>
                <a href="javascript:void(0)" class="js-accordion-trigger">Costs ( Directly related to sales ) <span class="lovely-blue">[ex-VAT]</span> :</a>
                <ul class="submenu">
                  <li class="">
                          
                          <table class="table-minimal">
                             <thead>
                                  <tr class="lovely-pink">
                                      <%= render 'input_table_headers' %>
                                  </tr>
                             </thead>
                             <%= render 'cost_of_sale_ex_vat_body' %>
                        </table>
                        <!-- END OF BS TABLE -->
                  </li>
                </ul>
            <!-- END OF GRAPH DATA -->
          </li>
      </ul>
        <!-- END OF ACCORDIAN CONTAINRE -->
  </article>
</section>
<!-- TOTAL COST of Sale TABLE -->
<section class="layout-container">
  <article class="type-system-slab">
      <table id="cos-out-totals-summary-table" class="table-minimal">
             <tbody>
                <thead>
                      <tr class="lovely-pink">
                          <%= render 'input_table_headers' %>
                      </tr>
                 </thead>
                 <tbody>
                        <tr>
                            <td>
                              Total Cash Out
                            </td>
                            <!-- set var for for deficit summary display usage -->
                            <!-- set DIFFERENT variable for summary section SO EX AND INC VAT CALCULATED -->
                            <% $summary_total_out = $cos_sub_totals %>
                            <% $cos_sub_totals.each do |total| %>
                                <td><input type="text" name="transaction[amount]" class="user-input-total" value="<%= total.to_f %>"></td>        
                            <% end %>
                            <td><%= $cos_sub_totals.inject(0, :+) %></td>
                        </tr>
                 </tbody>
            </tbody>
        </table>
        <!-- END OF BS TABLE -->
  </article>
</section>