 <!-- constant with inc vat tBody -->
 
 <% 4.times do |row| %>
  <tr data-pb-tag="<%= $rev_tags.first %>" data-pb-type="Debit">
      <!-- Row MITAG cell -->
      <td>
        <input type="text" placeholder="Add sales stream <%= row + 1 %>" >
      </td>
      <% $no_of_columns.times do |row| %>
           <%= user_input_cell %>
      <% end %>
      <!-- Row total cell -->
      <td style="color:black;">0</td>
  </tr>
<% end %>
<% 1.times do |row| %>
  <tr data-pb-tag="<%= $rev_tags.last %>" data-pb-type="Debit">
      <!-- Row MITAG cell -->
      <td>
        <input type="text" placeholder="Use for <%= $rev_tags.last %>" >
      </td>
      <% $no_of_columns.times do |row| %>
           <%= user_input_cell %>
      <% end %>
      <!-- Row total cell -->
      <td style="color:black;">0</td>
  </tr>
<% end %>

