<!-- FOR internal ProfitBees Financial Reporting Mapping -->
<% $rev_tags = Tag.gaap_fin_stat_tags[:gp_sales] %>
<!-- partial specific -->
<% $user_added_rows_already = 0 %>

<section class="layout-container" id="revenueTable">
  <article class="type-system-slab">

      <ul class="accordion">
          <li>
                <a href="javascript:void(0)" class="js-accordion-trigger">Revenue ( Receipts ) <span class="lovely-blue">[inc-VAT]</span> :</a>

                <ul class="submenu">
                  <li class="">
                        <table  class="table-minimal">
                             <thead>
                                <tr class="lovely-pink">
                                    <th style="min-width:10em;"></th>
                                    <!-- START OF PROJECTIONS ANCHOR -->
                                    <th><%= $start_date.strftime("%b %Y") %></th>
                                    <!-- FOR CLIENT SIDE COLLECTION OF DATE RANGE -->
                                   <!--  Done manually here ONCE.. not in input_table_headers partial as creates duplication date ranges -->
                                    <span style="display:none;" class="cf-date-selector" data-date="<%= $start_date.strftime("%b %Y") %>"></span>
                                    <% $i = 1 %>
                                    <% begin %>
                                      <th>
                                        <% date = ($start_date + $i.month).strftime("%b %Y") %>
                                        <%= date %>
                                        <!-- FOR CLIENT SIDE COLLECTION OF DATE RANGE -->
                                        <span style="display:none;" class="cf-date-selector" data-date="<%= date %>"></span>
                                      </th>
                                      <% $i += 1 %>
                                    <% end while $i < $no_of_columns %>
                                    <th>Total</th>
                                </tr>
                            </thead>

                            <%= render 'revenue_inc_vat_body' %>
                            
                        </table>
                        <!-- END OF REV TABLE -->

                  </li>
                </ul>
            <!-- END OF REV DATA -->
          </li>
          <li>
                <a href="javascript:void(0)" class="js-accordion-trigger">Revenue ( Receipts ) <span class="lovely-blue">[ex-VAT]</span> :</a>
                <ul class="submenu">
                  <li class="">
                          
                        <table  class="table-minimal">
                            <thead>
                                <tr class="lovely-pink">
                                    <%= render 'input_table_headers' %>
                                </tr>
                            </thead>
                            <%= render 'revenue_ex_vat_body' %>
                        </table>
                        <!-- END OF BS TABLE -->

                  </li>
                </ul>
            <!-- END OF GRAPH DATA -->
          </li>
      </ul>
        <!-- END OF ACCORDIAN CONTAINRE -->
  </article>
</section>
<!-- TOTAL REVENUE TABLE -->
<section class="layout-container">
  <article class="type-system-slab">
      <table id="cash-in-totals-summary-table" class="table-minimal">
             <tbody>
                <thead>
                      <tr class="lovely-pink">
                          <%= render 'input_table_headers' %>
                      </tr>
                 </thead>
                 <tbody>
                        <tr>
                            <td>
                              Total Receipts
                            </td>
                            <!-- set var for for deficit summary display usage -->
                            <!-- set DIFFERENT variable for summary section SO EX AND INC VAT CALCULATED -->
                            <% $summary_total_in = $revenue_sub_totals %>
                            <% $revenue_sub_totals.each do | total | %>
                                <td><input type="text" name="transaction[amount]" class="user-input-total" value="<%= total.to_f %>"></td>        
                            <% end %>
                            <td><%= $revenue_sub_totals.inject(0, :+) %></td>
                        </tr>
                 </tbody>
            </tbody>
        </table>
        <!-- END OF BS TABLE -->
  </article>
</section>
