<!-- FOR internal ProfitBees Financial Reporting Mapping -->
<% $rev_tags = Tag.gaap_fin_stat_tags[:gp_sales] %>

<section class="layout-container">
  <article class="type-system-slab">

      <ul class="accordion">
          <li>
                <a href="javascript:void(0)" class="js-accordion-trigger">Revenue ( Receipts ) <span class="lovely-blue">[inc-VAT]</span> :</a>
                <ul class="submenu">
                  <li class="">
                        <table  class="table-minimal">
                             <thead>
                                <tr class="lovely-pink">
                                    <th style="min-width:10em;"></th>
                                    <!-- START OF PROJECTIONS ANCHOR -->
                                    <th><%= $start_date.strftime("%b %Y") %></th>
                                    <!-- FOR CLIENT SIDE COLLECTION OF DATE RANGE -->
                                   <!--  Done manually here ONCE.. not in input_table_headers partial as creates duplication date ranges -->
                                    <span style="display:none;" class="cf-date-selector" data-date="<%= $start_date.strftime("%b %Y") %>"></span>
                                    <% $i = 1 %>
                                    <% begin %>
                                      <th>
                                        <% date = ($start_date + $i.month).strftime("%b %Y") %>
                                        <%= date %>
                                        <!-- FOR CLIENT SIDE COLLECTION OF DATE RANGE -->
                                        <span style="display:none;" class="cf-date-selector" data-date="<%= date %>"></span>
                                      </th>
                                      <% $i += 1 %>
                                    <% end while $i < $no_of_columns %>

                                    <th>Total</th>
                                </tr>
                            </thead>
                             
                             <tbody id="revenue-inc-vat">
                                  <%= render 'sales_revenue' %>
                                  <%= render 'input_table_body' %>
                                  <!-- SAVE BUTTON -->
                                  <tr>
                                      <td id="save-rev-inc-vat" class="button-style"><%= submit_tag 'Save Details' %></td>
                                      <% $no_of_columns.times do |row| %>
                                          <td></td>
                                      <% end %>
                                      <td></td>
                                  </tr>
                            </tbody>
                        </table>
                        <!-- END OF BS TABLE -->

                  </li>
                </ul>
            <!-- END OF REV DATA -->
          </li>
          <li>
                <a href="javascript:void(0)" class="js-accordion-trigger">Revenue ( Receipts ) <span class="lovely-blue">[ex-VAT]</span> :</a>
                <ul class="submenu">
                  <li class="">
                          
                        <table  class="table-minimal">
                            <thead>
                                <tr class="lovely-pink">
                                    <%= render 'input_table_headers' %>
                                </tr>
                            </thead>
                            <tbody id="revenue-exc-vat">
                                
                                <%= render 'input_table_body' %>
                                <!-- SAVE BUTTON -->
                                <tr>
                                    <td id="save-rev-exc-vat" class="button-style"><%= submit_tag 'Save Details' %></td>
                                    <% $no_of_columns.times do |row| %>
                                        <td></td>
                                    <% end %>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                        <!-- END OF BS TABLE -->

                  </li>
                </ul>
            <!-- END OF GRAPH DATA -->
          </li>
      </ul>
        <!-- END OF ACCORDIAN CONTAINRE -->
  </article>
</section>
<!-- TOTAL REVENUE TABLE -->
<section class="layout-container">
  <article class="type-system-slab">
      <table id="" class="table-minimal">
             <tbody>
                <thead>
                      <tr class="lovely-pink">
                          <%= render 'input_table_headers' %>
                      </tr>
                 </thead>
                 <tbody>
                        <tr>
                            <td>
                              Total Cash In
                            </td>
                            <% $no_of_columns.times do |row| %>
                                <td><input type="text" name="transaction[amount]" placeholder="0.00"></td>
                            <% end %>
                            <td></td>
                        </tr>
                 </tbody>
            </tbody>
        </table>
        <!-- END OF BS TABLE -->
  </article>
</section>
