<!-- COMMON JS FILE FOR common SHOW AND DASH -->
<%= javascript_include_tag 'boardPacks' %>

<article class="type-system-slab">
    <header class="show-nav" role="banner">
       <div>  
          <p><%= link_to 'Back', url_for(:back) %></p>
       </div> 
       <div>  
          <a href="/welcome/auth_landing"><img id="user-to-auth-landing" src="<%= asset_path('pb-logo.png') %>"></a>
       </div>  
       <div>  
          <p><%= link_to 'Reports Index', reports_path %></p>
       </div> 
    </header>
</article>

<section class="layout-container">
  <article class="type-system-slab">

      <ul class="accordion">
          <li>
                <a href="javascript:void(0)" class="js-accordion-trigger">CashFlow <span class="lovely-pink">settings</span></a>
                <ul class="submenu">
                  <li class="data-display">
                      <section>
                        <p><span class="lovely-blue">CashFlow Name:  <br></span> <%= @ledger.user_tag %> </p>
                        <p><span class="lovely-blue">CashFlow viewers:  <br></span><%= link_to "View all", "", remote: true %></p>
                      </section>
                      <section>
                        <p><span class="lovely-blue">Starting Month:  <br></span> <%= @settings[:format]["start_month"] %> </p>
                        <p><span class="lovely-blue">Length:  <br></span> <%= @settings[:format]["cf_length"] %></p>
                      </section>
                  </li>
                </ul>
            <!-- END OF GRAPH DATA -->
          </li>
      </ul>
        <!-- END OF ACCORDIAN CONTAINRE -->
  </article>
</section>

<% $start_date = create_date %>
<% $no_of_columns = fetch_columns %>

<section class="layout-container">
  <article class="type-system-slab">

      <ul class="accordion">
          <li>
                <a href="javascript:void(0)" class="js-accordion-trigger">Revenue ( Receipts ) <span class="lovely-blue">[inc-VAT]</span> :</a>
                <ul class="submenu">
                  <li class="">
                        <table id="" class="table-minimal">
                             <thead>
                                  
                                  <tr class="lovely-pink">
                                      <th style="min-width:10em;"></th>
                                      <!-- START OF PROJECTIONS ANCHOR -->
                                      <th><%= $start_date.strftime("%b %Y") %></th>

                                      <% $i = 1 %>
                                      <% begin %>
                                        <th>
                                          <%= ($start_date + $i.month).strftime("%b %Y") %>
                                        </th>
                                        <% $i +=1 %>
                                      <% end while $i < $no_of_columns %>

                                      <th>Total</th>
                                  </tr>

                             </thead>

                             <tbody>
                                  <% 5.times do |row| %>
                                    <tr>
                                        <th><input type="text" name="transaction[description]" placeholder="Add your line description"></th>
                                        <% $no_of_columns.times do |row| %>
                                            <td><input type="text" name="transaction[amount]" placeholder="0.00"></td>
                                        <% end %>
                                        <th></th>
                                    </tr>
                                  <% end %>

                            </tbody>
                        </table>
                        <!-- END OF BS TABLE -->
                  </li>
                </ul>
            <!-- END OF GRAPH DATA -->
          </li>
          <li>
                <a href="javascript:void(0)" class="js-accordion-trigger">Revenue ( Receipts ) <span class="lovely-blue">[ex-VAT]</span> :</a>
                <ul class="submenu">
                  <li class="">
                          
                          <table id="" class="table-minimal">
                             <thead>
                                  
                                  <tr class="lovely-pink">
                                      <th style="min-width:10em;"></th>
                                      <!-- START OF PROJECTIONS ANCHOR -->
                                      <th><%= $start_date.strftime("%b %Y") %></th>

                                      <% $i = 1 %>
                                      <% begin %>
                                        <th>
                                          <%= ($start_date + $i.month).strftime("%b %Y") %>
                                        </th>
                                        <% $i +=1 %>
                                      <% end while $i < $no_of_columns %>

                                      <th>Total</th>
                                  </tr>

                             </thead>

                             <tbody>
                                  <% 5.times do |row| %>
                                    <tr>
                                        <th><input type="text" name="transaction[description]" placeholder="Add your line description"></th>
                                        <% $no_of_columns.times do |row| %>
                                            <td><input type="text" name="transaction[amount]" placeholder="0.00"></td>
                                        <% end %>
                                        <th></th>
                                    </tr>
                                  <% end %>

                            </tbody>
                        </table>
                        <!-- END OF BS TABLE -->
                  </li>
                </ul>
            <!-- END OF GRAPH DATA -->
          </li>
      </ul>
        <!-- END OF ACCORDIAN CONTAINRE -->
  </article>
</section>


<script>
      reportsSharedHelper.setAccordianHandlers();
</script>

