<!-- CASHFLOW ONLY JS -->
<%= javascript_include_tag 'cashflow' %>
<%= hidden_field_tag "updateCalled", false %>
<%= hidden_field_tag "cashflow_id", @ledger.id %>

<article class="type-system-slab">
    <header class="show-nav" role="banner">
       <div>  
          <p><%= link_to 'Back', url_for(:back) %></p>
       </div> 
       <div>  
          <a href="/welcome/auth_landing"><img id="user-to-auth-landing" src="<%= asset_path('pb-logo.png') %>"></a>
       </div>  
       <div>  
          <p><%= link_to 'Reports Index', reports_path %></p>
       </div> 
    </header>
</article>

<section class="layout-container">
  <article class="type-system-slab">

      <ul class="accordion">
          <li>
                <a href="javascript:void(0)" class="js-accordion-trigger">CashFlow <span class="lovely-pink">assumptions</span></a>
                <ul class="submenu">
                  <li class="data-display">
                      <section>
                        <p><span class="lovely-blue">CashFlow Name:  <br></span> <%= @ledger.user_tag %> </p>
                        <p><span class="lovely-blue">CashFlow viewers:  <br></span><%= link_to "View all", "", remote: true %></p>
                      </section>
                      <section>
                        <p>
                          <%= link_to edit_cf_settings_cash_flow_ledger_path(@ledger,start_month: true), remote: true do %>
                            <span class="lovely-blue">Starting Month: </span> 
                          <% end %> <br>
                          <%= @settings[:format]["start_month"] %> 
                        </p>
                        <p>
                          <%= link_to edit_cf_settings_cash_flow_ledger_path(@ledger,cf_length: true), remote: true do %>
                            <span class="lovely-blue">Length: </span> 
                          <% end %> <br>
                          <%= @settings[:format]["cf_length"] %>
                        </p>
                      </section>
                  </li>
                </ul>
            <!-- END OF GRAPH DATA -->
          </li>
      </ul>
        <!-- END OF ACCORDIAN CONTAINRE -->
  </article>
</section>

<% $start_date = create_date %>
<% $no_of_columns = fetch_columns %>
<% $date_range_cached = false %>

<span style="display:none;" id="cf-control-selector" data-months="<%= $no_of_columns %>"></span>

<!-- FOR CASHFLOW SUMMARY AT BOTTOM OF VIEW -->
<% $summary_total_in = [] %>
<% $summary_total_out = [] %>

<!-- USED FOR VIEW PIVOTS in both trns PARTIALS -->
<% $cf_view_service = CashFlowLedgerService.new(@ledger) %>

<!-- REVNUE OF SALE VIEW -->
<% $revenue_sub_totals = [] %>
<% $no_of_columns.times { $revenue_sub_totals << 0 } %>
<%= render 'revenue' %>

<!-- COS OF SALE VIEW -->
<% $cos_sub_totals = [] %>
<% $no_of_columns.times { $cos_sub_totals << 0 } %>
<%= render 'cost_of_sale' %>
<%#= render 'capex' %>

<section class="layout-container">
  <article class="type-system-slab">

        <div class="grid-items">
           <%= link_to fetch_cf_data_input_form_cash_flow_ledger_path(@ledger, form_type: :loan_borrowing_form), remote: true, :class => "grid-item" do %>  
            <img src="<%= asset_path('export-arrow.png') %>" alt="">
            <h1>Loan Borrowings</h1>
            <p>Enter the details for what you're borrowing</p>
          <%end%>
          <%= link_to fetch_cf_data_input_form_cash_flow_ledger_path(@ledger, form_type: :director_salaries), remote: true, :class => "grid-item" do %>  
            <img src="<%= asset_path('export-arrow.png') %>" alt="">
            <h1>Director Salaries</h1>
            <p>Add the total costs for director salaries</p>
          <%end%>
          <%= link_to fetch_cf_data_input_form_cash_flow_ledger_path(@ledger, form_type: :non_director_salaries), remote: true, :class => "grid-item" do %>
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Non director Salaries</h1>
            <p>Add the total costs for non-director salaries</p>
          <% end %>
          <%= link_to fetch_cf_data_input_form_cash_flow_ledger_path(@ledger, form_type: :stock), remote: true, :class => "grid-item" do %>
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Buying Stock?</h1>
            <p>Add detail about total stock costs</p>
          <% end %>
          <%= link_to fetch_cf_data_input_form_cash_flow_ledger_path(@ledger, form_type: :fixed_assets), remote: true, :class => "grid-item" do %>
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Buying Computers or Equipment?</h1>
            <p>Add detail about fixed asset costs</p>
          <% end %>
          <%= link_to fetch_cf_data_input_form_cash_flow_ledger_path(@ledger, form_type: :customers), remote: true, :class => "grid-item" do %>
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
            <h1>Revenue Debtors</h1>
            <p>Add detail about money owed from customers</p>
          <% end %>
        </div>

    </article>
</section>

<%#= render 'biz_development_costs' %>

<%#= render 'running_costs' %>
<%#= render 'administration_costs' %>
<%#= render 'finance_running_costs' %>


<%= render 'cash_flow_summary' %>


<section class="layout-container">
  <article class="type-system-slab">

        <div class="cf-link-items">
          
            <%= link_to export_transactions_to_csv_cash_flow_ledger_path(@ledger),remote: true, data: { :confirm => 'Any changes not saved are not included in the export' } do %>
                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
              <h3 class="lovely-pink">Export All</h3>
            <% end %>
            
            <%= link_to export_transactions_to_csv_cash_flow_ledger_path(@ledger),remote: true, data: { :confirm => 'Any changes not saved are not included in the export' } do %>
                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
              <h3 class="lovely-pink">Export to BoardPack</h3>
            <% end %>
           
        </div>

    </article>
</section>

<section class="layout-container">
  <article class="type-system-slab">
  </article>
</section>

<article class="type-system-slab">
    <header class="show-nav" role="banner">
       <div>  
          <p><%= link_to 'Back', url_for(:back) %></p>
       </div> 
       <div>  
          <a href="/welcome/auth_landing"><img id="user-to-auth-landing" src="<%= asset_path('pb-logo.png') %>"></a>
       </div>  
       <div>  
          <p><%= link_to 'Reports Index', reports_path %></p>
       </div> 
    </header>
</article>

<section class="layout-container">
  <article class="type-system-slab">
  </article>
</section>

<!-- overriding css -->
<style type="text/css">
  #bg-screen-for-modal{
    top: -1px !important;
  }
</style>